<app-header></app-header>

<main>


  <div class="hero" ></div>

  <!-- Evolution of the collage section -->
  <section class="about-area about-p pt-[100px] py-8  p-relative fix" style="background: #eff7ff;">
    <div class="animations-02"><img src="/assets/web/img/bg/css.png" alt="About"></div>
    <div class="container">
        <div class="row justify-content-center align-items-center">



            <div class="col-lg-6 col-md-12 col-sm-12">

                <div class="h-full flex items-center justify-center ">
                  <div class="s-about-img p-relative wow fadeInLeft animated" data-animation="fadeInLeft" data-delay=".4s">
                      <img src="/assets/uploads/about-us/DIC200_1723031419.png" alt="img">
                  </div>
              </div>

              <div class="s-about-img p-relative hidden md:hidden lg:block wow fadeInLeft animated" data-animation="fadeInLeft" data-delay=".4s">
                <img src="/assets/web/img/bg/css.png" alt="img">
            </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="about-content s-about-content pl-15 wow fadeInRight animated" data-animation="fadeInRight" data-delay=".4s">
                    <div class="about-title second-title pb-25">
                        <!-- <h5><i class="fal fa-graduation-cap"></i> </h5> -->
                        <h3>Evolution of the collage</h3>
                    </div>
                    <p class="mt-2 text-base leading-relaxed tracking-wide text-gray-800">
                      The DIC was established in the year 2001 as the Defence Intelligence School (DIS)
                      and operated from a temporary site within the headquarters of DIA at Bonny Camp,
                      Lagos. In October 2005, it was relocated to its current location in Karu, Abuja. <br>
                      The College was established to carter for the training needs and capacity
                      building of DIA career intelligence officers and operatives to provide
                      real-time defence intelligence in support of the Armed Forces of the
                      Federal Republic of Nigeria both within and outside the country,
                      thereby enhancing national security. This move reflected the vision
                      of the DIA in transforming the school into a centre of excellence for
                      intelligence and security education in Nigeria. Consequently, the school was
                      renamed DIC on 1 March 2013.
                    </p>


                </div>
            </div>

        </div>
    </div>
</section>
  <!-- Evolution of the collage section end -->


  <!-- Departments section -->
  <section class="about-area about-p  p-relative fix" style="background: #eff7ff;">
    <div class="container ">
      <div class="about-title w-full flex items-center gap-2 second-title pb-25">
        <!-- <img src="/assets/uploads/about-us/DIC200_1723031419.png" class="w-16 h-16 rounded-full" alt="img"> -->
        <div class="">
          <h3>Our Departments</h3>
          <p class="text-base text-gray-500">In search of excellence in defence of the nation.</p>
        </div>
    </div>
       <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 w-full p-2">
        <ng-container *ngFor="let department of departments">
          <div class="dept-card flex flex-col gap-2">
            <!-- <div class="img">
              <img src="" class="bg-gray-200 h-[120px] rounded-sm w-full" alt="">
            </div> -->
            <div class="content bg-white rounded-md shadow-md p-4 h-[150px]">
              <div class="title font-medium text-lg text-gray-800">{{department.name}}</div>
            </div>
           </div>
         </ng-container>
       </div>
    </div>
</section>
  <!-- Departments section end -->

  <!-- Courses Section -->
  <section class="about-area about-p py-8  p-relative fix" style="background: #eff7ff;">

        <div class="container">
            <div class="about-title w-full flex items-center gap-2 second-title pb-25">
              <!-- <img src="/assets/uploads/about-us/DIC200_1723031419.png" class="w-16 h-16 rounded-full" alt="img"> -->
              <div class="">
                <h3>Courses and Seminars</h3>
                <p class="text-gray-500">In search of excellence in defence of the nation.</p>
              </div>
            </div>
              <p-accordion [activeIndex]="0">
                <p-accordionTab header="GENERIC COURSES">
                   <ul class="flex flex-col gap-2">
                    <li>i. Basic Intelligence Officers' Course.</li>
                    <li>ii. Defence Intelligence Officers' Course.</li>
                    <li>iii. Advanced Defence Intelligence Officers' Course.</li>
                    <li>iv. Junior Defence Intelligence Basic Course.</li>
                    <li>v. Junior Defence Intelligence Intermediate Course.</li>
                    <li>vi. Junior Defence Intelligence Advanced Course.</li>
                   </ul>
                </p-accordionTab>
                <p-accordionTab header="SPECIALISED COURSES ">
                  <ul class="flex flex-col gap-2">
                    <li>Psychological Operations Course.</li>
                    <li>Security Investigation and Interrogation Course.</li>
                    <li>Document Security.</li>
                   </ul>
                </p-accordionTab>
                <p-accordionTab header="LANGUAGE COURSES ">
                  <ul class="flex flex-col gap-2">
                    <li>Basic-Level French Language Course.</li>
                    <li>Intermediate Language Course.</li>
                   </ul>
                </p-accordionTab>
                <p-accordionTab header="STRATEGIC STUDIES ">
                  The Centre for Strategic Studies (CSS) conducts the following Courses:
                  <ul class="flex flex-col gap-2">
                    <li>a.	The National Security Training Seminar.</li>
                    <li>b.	Intelligence Analysis Course.</li>
                    <li>c.	Peace and Conflict Studies.</li>
                     <li>d.	Strategic Security Course.</li>
                  </ul>
                </p-accordionTab>
            </p-accordion>
        </div>


</section>

  <!-- Courses Section end -->


  <!-- about-area -->
  <section class="about-area about-p py-8  p-relative fix" style="background: #eff7ff;">
      <div class="animations-02"><img src="/assets/web/img/bg/css.png" alt="About"></div>
      <div class="container">
          <div class="row justify-content-center align-items-center">



              <div class="col-lg-6 col-md-12 col-sm-12">

                  <div class="h-full flex items-center justify-center ">
                    <div class="s-about-img p-relative wow fadeInLeft animated" data-animation="fadeInLeft" data-delay=".4s">
                        <img src="/assets/uploads/about-us/DIC200_1723031419.png" alt="img">
                    </div>
                </div>

                <div class="s-about-img p-relative hidden md:hidden lg:block wow fadeInLeft animated" data-animation="fadeInLeft" data-delay=".4s">
                  <img src="/assets/web/img/bg/css.png" alt="img">
              </div>
              </div>

              <div class="col-lg-6 col-md-12 col-sm-12">
                  <div class="about-content s-about-content pl-15 wow fadeInRight animated" data-animation="fadeInRight" data-delay=".4s">
                      <div class="about-title second-title pb-25">
                          <h5><i class="fal fa-graduation-cap"></i> About AVM MS Usman CSS</h5>
                          <h2>Centre for Strategic Studies</h2>
                      </div>
                      <p class="mt-4 text-base leading-relaxed tracking-wide text-gray-800">
                        AVM MS Usman Centre for Strategic Studies (CSS) is a multi-disciplinary academic and
                        research centre designed to initiate programmes in strategic studies and undertake security
                        related research. The CSS anchors the Advanced Defence Intelligence Officers' Course (ADIOC)
                        which is designed to broaden officers' knowledge in determination of intelligence in policy
                        and conflict situations. <br><br>Also  the Center anchors the Intelligence Analysis Officers'
                        Course (IAOC) aimed at raising the quality of analytic tradecraft in the Agency and the
                        intelligence community,   It facilitates training programmes with external academic and
                        security organizations through collaboration with relevant institutions. Furthermore, the
                        CSS writes strategic and poilcy papers for the College and the Agency as directed.
                      </p>

                      <!--<div class="about-content2">-->
                      <!--    <div class="row">-->
                      <!--        <div class="col-md-12">-->
                      <!--            <ul class="green2">-->
                      <!--                <li>-->
                      <!--                    <div class="abcontent">-->
                      <!--                        <div class="text">-->
                      <!--                            <h3>Title</h3>-->
                      <!--                            <p>Descr</p>-->
                      <!--                        </div>-->
                      <!--                    </div>-->
                      <!--                </li>-->
                      <!--                <li>-->
                      <!--                    <div class="abcontent">-->
                      <!--                        <div class="text">-->
                      <!--                            <h3>Title</h3>-->
                      <!--                            <p>Desc</p>-->
                      <!--                        </div>-->
                      <!--                    </div>-->
                      <!--                </li>-->
                      <!--            </ul>-->
                      <!--        </div>-->
                      <!--    </div>-->
                      <!--</div>-->
                  </div>
              </div>

          </div>
      </div>
  </section>
  <!-- about-area-end -->

</main>

<app-footer></app-footer>
