.hero {
  background-image: url('/assets/uploads/slider/DSC_0543_filtered_1721217402.jpg');
  height: 500px;
  width: 100%;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}
