
<p-toast/>

<div class="section w-full">




 <!-- metrics cards -->
  <div class="cards-section w-full grid grid-cols-1 lg:grid-cols-4 gap-4 md:grid-cols-2  mt-6">
      <div class="card bg-white h-[120px]  flex  rounded-md shadow-sm p-4 w-full">
        <div class="flex gap-4 items-center">
          <div class="details flex flex-col">
            <span class=" text-lg text-gray-800">Pending Application</span>
            <span class=" text-2xl font-bold  text-gray-800">42</span>
          </div>
        </div>
      </div>

      <div class="card bg-white h-[120px]  flex  rounded-md shadow-sm p-4 w-full">
        <div class="flex gap-4 items-center">
          <div class="details flex flex-col">
            <span class=" text-lg text-gray-800">Active Students</span>
            <span class=" text-2xl font-bold  text-gray-800">602</span>
          </div>
        </div>
      </div>


      <div class="card bg-white h-[120px]  flex  rounded-md shadow-sm p-4 w-full">
        <div class="flex gap-4 items-center">
          <div class="details flex flex-col">
            <span class=" text-lg text-gray-800">Active Staffs</span>
            <span class=" text-2xl font-bold  text-gray-800">42</span>
          </div>
        </div>
      </div>


      <div class="card bg-white h-[120px]  flex  rounded-md shadow-sm p-4 w-full">
        <div class="flex gap-4 items-center">
          <div class="details flex flex-col">
            <span class=" text-lg text-gray-800">Total Courses</span>
            <span class=" text-2xl font-bold  text-gray-800">42</span>
          </div>
        </div>
      </div>



  </div>

  <!-- table section -->
  <div class="graph-section flex w-full  gap-8  ">
    <div class="top-selling bg-white p-4 rounded-md basis-[65%]">
      <div class="heading flex justify-between items-center">
        <div class="title text-lg capitalize text-gray-800">Current Applications</div>

        <div class="text-primary flex gap-2 text-sm cursor-pointer active:scale-95">
          See All
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
            </svg>
          </span>
        </div>
      </div>

      <!-- table section -->
       <!-- Table -->
       <table class="w-full divide-y table-auto divide-gray-200 mt-4">
        <thead class="">
          <tr>
            <th scope="col" class="px-6 py-3 text-start ">
              <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                Name
              </span>
            </th>

            <th scope="col" class="px-6 py-3 text-start">
              <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                Program
              </span>
            </th>

            <th scope="col" class="px-6 py-3 text-start ">
              <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                Email
              </span>
            </th>

            <th scope="col" class="px-6 py-3 text-start ">
              <p class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                Phone
              </p>
            </th>
          </tr>
        </thead>

        <tbody class="divide-y divide-gray-200">
          <tr>
            <td class="size-px  px-6 py-3">
                <p class="text-sm text-gray-500">Ahmed Bello</p>
            </td>
            <td class="size-px  px-6 py-3">
              <div class="flex items-center gap-x-3">
                <p class="font-semibold text-sm text-gray-500">Remote Sensing</p>
              </div>
            </td>
            <td class="size-px  px-6 py-3">
              <p class="text-sm text-gray-500">ahmed&#64;gmail.com</p>
            </td>
            <td class="size-px  px-6 py-3">
              <p class="text-sm text-gray-500">09087565544</p>
            </td>
          </tr>

          <tr>
            <td class="size-px  px-6 py-3">
                <p class="text-sm text-gray-500">Ahmed Bello</p>
            </td>
            <td class="size-px  px-6 py-3">
              <div class="flex items-center gap-x-3">
                <p class="font-semibold text-sm text-gray-500">Remote Sensing</p>
              </div>
            </td>
            <td class="size-px  px-6 py-3">
              <p class="text-sm text-gray-500">ahmed&#64;gmail.com</p>
            </td>
            <td class="size-px  px-6 py-3">
              <p class="text-sm text-gray-500">09087565544</p>
            </td>
          </tr>

          <tr>
            <td class="size-px  px-6 py-3">
                <p class="text-sm text-gray-500">Ahmed Bello</p>
            </td>
            <td class="size-px  px-6 py-3">
              <div class="flex items-center gap-x-3">
                <p class="font-semibold text-sm text-gray-500">Remote Sensing</p>
              </div>
            </td>
            <td class="size-px  px-6 py-3">
              <p class="text-sm text-gray-500">ahmed&#64;gmail.com</p>
            </td>
            <td class="size-px  px-6 py-3">
              <p class="text-sm text-gray-500">09087565544</p>
            </td>
          </tr>



        </tbody>
      </table>
      <!-- End Table -->

    </div>

    <div class="event-section p-4  bg-white basis-[35%]">
      <div class="title text-lg capitalize text-gray-800">Upcoming Events</div>

      <div class="flex flex-col gap-4">
        <!-- upcoming events -->
        <div class="event mt-4 flex gap-2">
          <div class="info flex flex-col gap-1">
            <span class="title text-gray-800">2026 PGD Acceptance Examination</span>
            <span class="order text-gray-500 text-sm">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque recusandae soluta, at reprehenderit exercitationem sapiente dicta!
            </span>
            <span class="text-gray-800 text-sm">25 April at 09:30 am</span>
          </div>
          <div class="view-icon h-full min-h-[130px] flex items-center justify-center">
            <div class="h-auto ">
              <div class=" rounded-full h-9 w-9 bg-accent flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                </svg>
              </div>
            </div>
          </div>
        </div>

        <div class="event mt-4 flex gap-2">
       
          <div class="info flex flex-col gap-1">
            <span class="title text-gray-800">2024/2025 Final Examination</span>
            <span class="order text-gray-500 text-sm">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio iusto facilis exercitationem laborum praesentium, ab rem?
            </span>
            <span class="text-gray-800 text-sm">25 April at 09:30 am</span>
          </div>
          <div class="view-icon h-full min-h-[130px] flex items-center justify-center">
            <div class="h-auto ">
              <div class=" rounded-full h-9 w-9 bg-accent flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="text-primary flex gap-2 w-full justify-center items-center mt-8 cursor-pointer active:scale-95">
        See All
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
          </svg>
        </span>
      </div>

    </div>


  </div>





</div>
