
<p-toast/>

<div class="section h-screen w-full">




 <!-- metrics cards -->
<div class="cards-section w-full grid grid-cols-1 lg:grid-cols-4 gap-4 md:grid-cols-2  mt-6">
      <div class="card bg-white h-[120px] border  flex  rounded-md shadow-sm p-4 w-full">
        <div class="flex gap-4 items-center">
          <div class="details flex flex-col">
            <span class=" text-lg text-gray-800">Pending Application</span>
            <span class=" text-2xl font-bold  text-gray-800">{{metrics[0].pending_applications}}</span>
          </div>
        </div>
      </div>

      <div class="card bg-white h-[120px] border  flex  rounded-md shadow-sm p-4 w-full">
        <div class="flex gap-4 items-center">
          <div class="details flex flex-col">
            <span class=" text-lg text-gray-800">Active Students</span>
            <span class=" text-2xl font-bold  text-gray-800">{{metrics[0].active_students}}</span>
          </div>
        </div>
      </div>


      <div class="card bg-white h-[120px] border  flex  rounded-md shadow-sm p-4 w-full">
        <div class="flex gap-4 items-center">
          <div class="details flex flex-col">
            <span class=" text-lg text-gray-800">Active Staffs</span>
            <span class=" text-2xl font-bold  text-gray-800">{{metrics[0].active_staffs}}</span>
          </div>
        </div>
      </div>


      <div class="card bg-white h-[120px] border  flex  rounded-md shadow-sm p-4 w-full">
        <div class="flex gap-4 items-center">
          <div class="details flex flex-col">
            <span class=" text-lg text-gray-800">Total Courses</span>
            <span class=" text-2xl font-bold  text-gray-800">{{metrics[0].total_courses}}</span>
          </div>
        </div>
      </div>



</div>

  <!-- table section -->
  <div class="graph-section flex flex-col md:flex-col lg:flex-row w-full py-8 h-[70vh]   gap-8  ">
    <div class="top-selling h-full shadow-md bg-white w-full p-4 rounded-md basis-[100%]">
      <div class="heading flex justify-between items-center">
        <div class="title text-lg capitalize text-gray-800">Current Applications</div>

        <div routerLink="/app/applications" class="text-primary flex gap-2 text-sm cursor-pointer active:scale-95">
          See All
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
            </svg>
          </span>
        </div>
      </div>

      <!-- table section -->
       <!-- Table -->
       <div class=" student-table w-full py-8 bg-white overflow-y-auto h-full max-h-[550px] overflow-x-auto">
        <table class="w-full divide-y  table-auto divide-gray-200 mt-4">
          <thead class="">
            <tr>
              <th scope="col" class="px-6 py-3 text-start ">
                <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                  Name
                </span>
              </th>

              <th scope="col" class="px-6 w-[200px] py-3 text-start">
                <span class="text-xs  font-semibold uppercase tracking-wide text-gray-800">
                  Program
                </span>
              </th>

              <th scope="col" class="px-6 py-3 text-start ">
                <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                  Email
                </span>
              </th>

              <th scope="col" class="px-6 py-3 text-start ">
                <p class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                  Phone
                </p>
              </th>
            </tr>
          </thead>

          <tbody class="divide-y divide-gray-200">
            <tr *ngFor="let application of recentApplications.data">
              <td class="size-px  px-6 py-3">
                  <p class="text-sm text-gray-500">{{application.name}}</p>
              </td>
              <td class="size-px  px-6 py-3">
                <div class="flex items-center gap-x-3">
                  <p class="font-semibold text-sm text-gray-500">{{application.program}}</p>
                </div>
              </td>
              <td class="size-px  px-6 py-3">
                <p class="text-sm text-gray-500">{{application.email}}</p>
              </td>
              <td class="size-px  px-6 py-3">
                <p class="text-sm text-gray-500">{{application.phone_number}}</p>
              </td>
            </tr>



          </tbody>
        </table>
       </div>
      <!-- End Table -->

    </div>

    <!-- <div class="event-section p-4 shadow-md overflow-y-auto bg-white basis-[35%]">
      <div class="title text-lg capitalize text-gray-800">Upcoming Events</div>

      <div class="flex flex-col gap-4">
        <div class="event mt-4 flex gap-2">
          <div class="info flex flex-col gap-1">
            <span class="title text-gray-800">2025/2026 Accedmic Session</span>
            <span class="order text-gray-500 text-sm">
              We are pleased to announce that the 2024/2025 Academic Session will officially commence on Dec 15th, 2024. As we begin this new academic year, we look forward to welcoming all our returning students and staff, as well as extending a warm greeting to our new students joining us for the first time.
            </span>
            <span class="text-gray-800 text-sm">25 April at 09:30 am</span>
          </div>
          <div class="view-icon h-full min-h-[130px] flex items-center justify-center">
            <div class="h-auto ">
              <div class=" rounded-full h-9 w-9 bg-accent flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                </svg>
              </div>
            </div>
          </div>
        </div>

        <div class="event mt-4 flex gap-2">

          <div class="info flex flex-col gap-1">
            <span class="title text-gray-800">2024/2025 Final Examination</span>
            <span class="order text-gray-500 text-sm">
              We are pleased to inform all students that the 2023/2024 Final Examinations will commence on [insert date]. This marks a significant milestone in the academic calendar, and we encourage all students to prepare diligently for their assessments.
            </span>
            <span class="text-gray-800 text-sm">25 April at 09:30 am</span>
          </div>
          <div class="view-icon h-full min-h-[130px] flex items-center justify-center">
            <div class="h-auto ">
              <div class=" rounded-full h-9 w-9 bg-accent flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="text-primary flex gap-2 w-full justify-center items-center mt-8 cursor-pointer active:scale-95">
        See All
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
          </svg>
        </span>
      </div>

    </div> -->


  </div>





</div>
