.hidden-scrollbar {
    overflow-y: scroll; /* Ensure scrolling is enabled */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }

  .hidden-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }