<div class="section h-screen">

    <app-sub-menu pageTitle="Students" actionName1="Delete (2)" addButton="Add Student" (action1)="toggleConfirmDelete()" (addAction)="showAddStudentForm()"></app-sub-menu>
    

    <div class="student-metrics grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-6">
        <!-- start card -->
        <div class=" w-full flex flex-col bg-white border shadow-sm  ">
            <div class="p-4 md:p-5 flex justify-between">
              <div class="flex flex-col justify-center gap-2">
                <h5 class=" capitalize tracking-wide text-gray-500 ">
                    Active Students
                </h5>

                <h3 class="text-green-700">2295</h3>
              </div>
  
              <div class=" flex items-center justify-between ">
             
                <div class="flex gap-2 justify-center items-center cursor-pointer flex-col">
                    <button (click)="viewActiveStudents()" class="border border-seccolor text-seccolor p-2 px-4">view list</button>
                    <span  class="text-green-500">+ 15.6 %</span>
                    <span class="text-xs text-gray-500">From previous Year</span>
                </div>
              </div>
            </div>
        </div> 
        <!-- end card -->

        <!-- start card -->
        <div class=" w-full flex flex-col bg-white border shadow-sm">
            <div class="p-4 md:p-5 flex justify-between">
              <div class="flex flex-col justify-center gap-2">
                <h5 class=" capitalize tracking-wide text-gray-500 ">
                    Dropouts
                </h5>

                <h3 class="text-pricolor">45</h3>
              </div>
  
              <div class=" flex items-center justify-between ">
             
                <div class="flex gap-2 justify-center items-center cursor-pointer flex-col">
                    <button (click)="viewDropOuts()" class="border border-seccolor text-seccolor p-2 px-4">view list</button>
                    <span class="text-pricolor">+ 14.6 %</span>
                    <span class="text-xs text-gray-500">From previous Year</span>
                </div>
              </div>
            </div>
        </div> 
        <!-- end card -->


        <!-- start card -->
        <div class=" w-full flex flex-col bg-white border shadow-sm  ">
            <div class="p-4 md:p-5 flex justify-between">
              <div class="flex flex-col justify-center gap-2">
                <h5 class=" capitalize tracking-wide text-gray-500 ">
                    Total Students
                </h5>

                <h3 class="text-gray-800">2295</h3>
              </div>
  
              <div class=" flex items-center justify-between ">
             
                <div class="flex gap-2 justify-center items-center cursor-pointer flex-col">
                    <button routerLink="/app/students/1" class="border border-seccolor text-seccolor p-2 px-4">View list</button>
                    <span class="text-green-500">+ 15.6 %</span>
                    <span class="text-xs text-gray-500">From previous Year</span>
                </div>
              </div>
            </div>
        </div> 
        <!-- end card -->

    </div>
    
    <div class="graph-section flex flex-col w-full  gap-6  mt-8">
        <div class="graph bg-white shadow-sm rounded-md p-4 ">
          <div class="graph-heading flex justify-between basis-1/2">
            <div class="title flex items-center capitalize gap-2 text-lg text-gray-800">
              Average Marks
              <span>
              <img src="/assets/icons/question.png" class="object-fill" alt="">
    
              </span>
            </div>

    
          </div>
    
          <div class="graph-body basis-1/2">
            <p-chart type="line" [data]="data" [options]="options" />
          </div>
        </div>
    
        <div class="event-section p-4  bg-white ">
            <app-student-table tableTitle="Recent Students" [showHeader]="true" [students]="activeStudents" [tableHeader]="tableHeader"></app-student-table>
        </div>
    
    
      </div>

</div>


<div *ngIf="addStudent">
    <app-add-student-form ></app-add-student-form>
</div>

<!-- Confirm delete -->
<div *ngIf="confirmDelete">
<app-confirm-delete itemToDelete="Student(s)" ></app-confirm-delete>
</div>


<!-- dropouts side nave -->

<p-sidebar [(visible)]="viewDropOut" position="right" styleClass="hidden-scrollbar" [style]="{'width':'80%'}">
    <app-student-table tableTitle="Dropouts" [showHeader]="true" [students]="dropouts" [tableHeader]="tableHeader"></app-student-table>
</p-sidebar>

<p-sidebar [(visible)]="ActiveStudents" position="left" [style]="{'width':'80%'}">
    <app-student-table tableTitle="Active Students" [showHeader]="true" [students]="activeStudents" [tableHeader]="tableHeader"></app-student-table>
</p-sidebar>

