<div class="section h-screen">

    <app-sub-menu pageTitle="Students" actionName1="Delete (2)" addButton="Add Student" (addAction)="showAddStudentForm()"></app-sub-menu>
    

    <div class="student-metrics grid grid-cols-3 gap-4 mt-6">
        <!-- start card -->
        <div class=" w-full flex flex-col bg-white border shadow-sm  ">
            <div class="p-4 md:p-5 flex justify-between">
              <div class="flex flex-col justify-center gap-2">
                <h5 class=" capitalize tracking-wide text-gray-500 ">
                    Active Students
                </h5>

                <h3 class="text-green-700">2295</h3>
              </div>
  
              <div class=" flex items-center justify-between ">
             
                <div class="flex gap-2 justify-center items-center cursor-pointer flex-col">
                    <button (click)="viewActiveStudents()" class="border border-seccolor text-seccolor p-2 px-4">view list</button>
                    <span  class="text-green-500">+ 15.6 %</span>
                    <span class="text-xs text-gray-500">From previous Year</span>
                </div>
              </div>
            </div>
        </div> 
        <!-- end card -->

        <!-- start card -->
        <div class=" w-full flex flex-col bg-white border shadow-sm">
            <div class="p-4 md:p-5 flex justify-between">
              <div class="flex flex-col justify-center gap-2">
                <h5 class=" capitalize tracking-wide text-gray-500 ">
                    Dropouts
                </h5>

                <h3 class="text-pricolor">45</h3>
              </div>
  
              <div class=" flex items-center justify-between ">
             
                <div class="flex gap-2 justify-center items-center cursor-pointer flex-col">
                    <button (click)="viewDropOuts()" class="border border-seccolor text-seccolor p-2 px-4">view list</button>
                    <span class="text-pricolor">+ 14.6 %</span>
                    <span class="text-xs text-gray-500">From previous Year</span>
                </div>
              </div>
            </div>
        </div> 
        <!-- end card -->


        <!-- start card -->
        <div class=" w-full flex flex-col bg-white border shadow-sm  ">
            <div class="p-4 md:p-5 flex justify-between">
              <div class="flex flex-col justify-center gap-2">
                <h5 class=" capitalize tracking-wide text-gray-500 ">
                    Total Students
                </h5>

                <h3 class="text-gray-800">2295</h3>
              </div>
  
              <div class=" flex items-center justify-between ">
             
                <div class="flex gap-2 justify-center items-center cursor-pointer flex-col">
                    <button routerLink="/app/students/1" class="border border-seccolor text-seccolor p-2 px-4">View list</button>
                    <span class="text-green-500">+ 15.6 %</span>
                    <span class="text-xs text-gray-500">From previous Year</span>
                </div>
              </div>
            </div>
        </div> 
        <!-- end card -->

    </div>
    
    <div class="graph-section flex flex-col w-full  gap-6  mt-8">
        <div class="graph bg-white shadow-sm rounded-md p-4 ">
          <div class="graph-heading flex justify-between basis-1/2">
            <div class="title flex items-center capitalize gap-2 text-lg text-gray-800">
              Average Marks
              <span>
              <img src="/assets/icons/question.png" class="object-fill" alt="">
    
              </span>
            </div>

    
          </div>
    
          <div class="graph-body basis-1/2">
            <p-chart type="line" [data]="data" [options]="options" />
          </div>
        </div>
    
        <div class="event-section p-4  bg-white ">
                <!-- Table Section -->
            <div class=" mt-12 w-full">
                <!-- Card -->
                <div class="flex flex-col">
                <div class="-m-1.5 overflow-x-auto">
                    <div class="p-1.5 min-w-full inline-block align-middle">
                    <div class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden">
                        <!-- Header -->
                        <div class="px-6 py-6 grid gap-3 md:flex md:justify-between md:items-center border-b border-gray-200">
            
                        </div>
                        <!-- End Header -->
            
                        <!-- Table -->
                        <div class="overflow-x-auto">
                        <table class="min-w-full table-auto divide-y max-w-full">
                            <thead class="bg-gray-50">
                            <tr>
                                <ng-container *ngFor="let row of tableHeader">
                                <th scope="col" class="w-10 ps-2 py-4 text-start" *ngIf="row=='Order Id'">
                                    <label for="hs-at-with-checkboxes-main" class="flex">
                                    <input type="checkbox" class="shrink-0 border-secondary rounded text-primary focus:ring-primary">
                                    <span class="sr-only">Checkbox</span>
                                    </label>
                                </th>
                                <th scope="col" class="ps-2 lg:ps-1 xl:ps-0 pe-2 py-3 text-start">
                                    <div class="flex items-center gap-x-2">
                                    <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 truncate">
                                        {{row}}
                                    </span>
                                    </div>
                                </th>
                                </ng-container>
                            </tr>
                            </thead>
                            <tbody class="divide-y divide-gray-200">
                            <tr>
                                <td class="w-10 whitespace-nowrap">
                                <div class="ps-2 py-4">
                                    <label for="hs-at-with-checkboxes-1" class="flex">
                                    <input type="checkbox" class="shrink-0 border-secondary rounded text-primary focus:ring-primary">
                                    <span class="sr-only">Checkbox</span>
                                    </label>
                                </div>
                                </td>
                                <td class="px-2 py-4">
                                <div class="flex items-center gap-x-3">
                                    <div class="grow">
                                    <span class="block text-sm text-gray-500 truncate">SLS-654</span>
                                    </div>
                                </div>
                                </td>
                                <td class="px-2 py-4">
                                <div class="flex items-center gap-x-3">
                                    <div class="grow">
                                    <span class="block text-sm  text-gray-500 truncate">Chiken Jumbo Pack</span>
                                    </div>
                                </div>
                                </td>
                                <td class="px-2 py-4">
                                <div class="flex items-center gap-x-3">
                                    <div class="grow">
                                    <span class="block text-sm  text-gray-500 truncate">12</span>
                                    </div>
                                </div>
                                </td>
                                <td class="px-2 py-4">
                                <div class="flex items-center gap-x-3">
                                    <div class="grow">
                                    <span class="block text-sm  text-gray-500 truncate">Mr.&Mrs Augustine</span>
                                    </div>
                                </div>
                                </td>
                                <td class="px-2 py-4">
                                <div class="flex items-center gap-x-3">
                                    <div class="grow">
                                    <span class="block text-sm  text-gray-500 truncate">October 30, 2024</span>
                                    </div>
                                </div>
                                </td>
                                <td class="px-2 py-4">
                                <div class="flex items-center gap-x-3">
                                    <div class="grow">
                                    <span class="block text-sm  text-gray-500 truncate">EPG-</span>
                                    </div>
                                </div>
                                </td>
                                <td class="px-2 py-4">
                                <div class="flex items-center gap-x-3">
                                    <div class="grow">
                                    <span class="block text-sm  text-gray-500 truncate">₦750,000.00</span>
                                    </div>
                                </div>
                                </td>
                                <td class="px-2 py-4">
                                <div class="flex items-center gap-x-3">
                                    <div class="grow">
                                    <span class="block text-sm  text-gray-500 truncate">Pending</span>
                                    </div>
                                </div>
                                </td>
                                <!-- Repeat for other cells -->
                            </tr>
                            </tbody>
                        </table>
                        </div>
            
                        <!-- End Table -->
            
                        <!-- Footer -->
                        <div class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-t border-gray-200">
                        <div>
                            <p class="text-sm text-gray-600">
                            <span class=" text-gray-500">12</span> results
                            </p>
                        </div>
            
                        <div>
                            <div class="inline-flex gap-x-2">
                            <button type="button" class="py-1.5 px-2 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-gray-50">
                                <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m15 18-6-6 6-6"/></svg>
                                Prev
                            </button>
            
                            <button type="button" class="py-1.5 px-2 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-gray-50">
                                Next
                                <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
                            </button>
                            </div>
                        </div>
                        </div>
                        <!-- End Footer -->
                    </div>
                    </div>
                </div>
                </div>
                <!-- End Card -->
            </div>
  <!-- End Table Section -->
    
        </div>
    
    
      </div>

</div>


<div *ngIf="addStudent">
    <app-add-student-form></app-add-student-form>
</div>


<!-- dropouts side nave -->

<p-sidebar [(visible)]="viewDropOut" position="right" [style]="{'width':'50%'}">
    <app-student-table tableTitle="Dropouts" [showHeader]="true" [students]="activeStudents" [tableHeader]="tableHeader"></app-student-table>

</p-sidebar>

<p-sidebar [(visible)]="ActiveStudents" position="left" [style]="{'width':'50%'}">
    <app-student-table tableTitle="Dropouts" [showHeader]="true" [students]="dropouts" [tableHeader]="tableHeader"></app-student-table>

</p-sidebar>

