  <app-sub-menu pageTitle="Courses" actionName1="Delete (2)" addButton="Upload video" (action1)="toggleConfirmDelete()" (addAction)="toggleAddVideo()"></app-sub-menu>


<div class="videos">
    


    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 justify-start mt-8">
        <div routerLink="/app/courses/1" class=" rounded-md border" *ngFor="let row of courses">
          <app-video-card [displayCount]="true" videoTitle={{row.course_title}} videoSrc={{row.image}}></app-video-card>
        </div>
      </div>
</div>
#

  <!-- confirm delete  -->
  <div *ngIf="confirmDelete">
    <app-confirm-delete itemToDelete="Video(s)"></app-confirm-delete>
   </div>