<div class="heading relative">
  <div class="top-header py-3 bg-pricolor text-white flex justify-between items-center lg:px-24 px-8">
    <div class="lg:flex items-center gap-4 text-sm hide ">
      <div class="address flex gap-2 items-center">
        <span class="text-seccolor">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
          </svg>
        </span>
        Defence Intelligence Collage, Karu Abuja
      </div>
      <div class="email text-sm flex gap-2 items-center">
        <span class="text-seccolor">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
            <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"/>
          </svg>
        </span>
        dicunn.pgs&#64;gmail.com
      </div>
      <div class="Phone text-sm flex gap-2 items-center">
        <span class="text-seccolor">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
          </svg>
        </span>
        08036326299

      </div>
    </div>

    <div class="flex items-center gap-2 text-sm">
      <div class="flex gap-2 items-center">
        <div class="flex gap-2 items-center">
          <a target="_blank" class=" text-white font-bold hover:border-b-2 hover:border-seccolor px-2 cursor-pointer" routerLink="/auth/login">Login</a>
          <!-- <a target="_blank" class=" text-white hover:border-b-2 hover:border-seccolor cursor-pointer p-1 ">Register</a> -->
        </div>
      </div>

<!--
      <div class="socials">
        <span>Icon</span>
      </div> -->
    </div>
  </div>

  <div class="bottom-header flex justify-between py-2 items-center lg:px-24 px-8">
    <div class="site-logo hidden lg:block md:hidden">
      <img src="/assets/uploads/about-us/DIC200_1723031419.png" class="w-16 h-16 object-cover" alt="">
    </div>

    <div class="block md:block lg:hidden">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list-task" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5zM3 3H2v1h1z"/>
      <path d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1z"/>
      <path fill-rule="evenodd" d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5zM2 7h1v1H2zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm1 .5H2v1h1z"/>
    </svg>
    </div>

    <div class="menu hidden lg:flex gap-4 font-semibold ">
      <nav class="text-gray-800 hover:text-pricolor active:scale-95 cursor-pointer" (click)="route('home')">Home</nav>
      <nav class="text-gray-800 hover:text-pricolor active:scale-95 cursor-pointer" (click)="route('css')">CSS</nav>
      <nav class="text-gray-800 hover:text-pricolor active:scale-95 cursor-pointer" (click)="route('unndic')">Pg-programes</nav>
      <nav class="text-gray-800 hover:text-pricolor active:scale-95 cursor-pointer" (click)="route('news')">News</nav>

    </div>

    <div class="contact-section">
      <a target="_blank" class="px-4 py-2 border border-seccolor active:bg-accent cursor-pointer  text-gray-800" routerLink="/pg-application" >PG APPLICATION</a>
    </div>
  </div>

  <div *ngIf="showMobileMenu" class="absolute top-0 z-[9999]">
    <app-mobile-menu></app-mobile-menu>
  </div>

</div>

