
         h3 {
            font-size: 18px;
         }
         .auth-logo {
            position: absolute;
            left: 40px;
            top: 10px;
            overflow: hidden;
         }
         .auth-logo img {
            max-height: 100px;
            max-width: 100px;
         }

         @media screen and (max-width: 767px) {
            .auth-logo img {
                max-height: 70px;
            }
         }
