<div class="heading">
  <div class="flex gap-4 text-base font-bold text-gray-800">Due Fees</div>
</div>

<div class="due -ees">
  <div class=" bg-white py-2 px-4 w-full border-b flex items-center">

    <div class="basis-[75%]">Tuition</div>

    <div class="basis-[25%] flex  justify-between items-center">
      <div class="amount">50,000</div>
      <div class="button border px-4 py-2 cursor-pointer hover:bg-seccolor hover:text-white">Pay</div>
    </div>
  </div>

  <div class=" bg-white py-2 px-4 w-full border-b flex items-center">

    <div class="basis-[75%]">Tuition</div>

    <div class="basis-[25%] flex  justify-between items-center">
      <div class="amount">50,000</div>
      <div class="button border px-4 py-2 cursor-pointer hover:bg-seccolor hover:text-white">Pay</div>
    </div>
  </div>


  <div class=" bg-white py-2 px-4 w-full border-b flex items-center">

    <div class="basis-[75%]">Tuition</div>

    <div class="basis-[25%] flex  justify-between items-center">
      <div class="amount">50,000</div>
      <div class="button border px-4 py-2 cursor-pointer hover:bg-seccolor hover:text-white">Pay</div>
    </div>
  </div>
</div>


<div class="w-full mt-12">
  <div class="heading flex justify-between items-center">
    <div class="flex gap-4 text-base font-bold text-gray-800">Payment History</div>

    <div class="hs-dropdown [--strategy:absolute] [--flip:false] hs-dropdown-example relative inline-flex">
      <button (click)="toggleCalender()" id="hs-dropdown-example" type="button" class="py-2 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
        Select session
        <svg class="hs-dropdown-open:rotate-180 size-4 text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="m6 9 6 6 6-6"></path>
        </svg>
      </button>

      <div *ngIf="calender" class=" transition-[opacity,margin] duration w-32 absolute top-[48px]  z-10 mt-2 min-w-32 bg-white shadow-md rounded-lg p-2" role="menu" aria-orientation="vertical" aria-labelledby="hs-dropdown-example">
        <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100" href="#">
          2023/2024
        </a>
        <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100" href="#">
          2022/2023
        </a>
        <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100" href="#">
          2021/2022
        </a>
        <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100" href="#">
          2020/2021
        </a>
      </div>
    </div>

  </div>

  <div class="history mt-4">
    <!-- Table Section -->
    <div class="w-full mx-auto">
      <!-- tables section -->
      <div class="w-full flex flex-col basis-[65%] h-[70vh] bg-white">
      <div class="-m-1.5 overflow-x-auto">
      <div class="p-1.5 min-w-full inline-block align-middle">
          <div class="table-section border border-gray-200 rounded-xl shadow-sm overflow-x-auto">


          <!-- Table -->
          <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50">
                <tr>
                  <th scope="col" class="ps-6 py-3 text-start">
                    <label for="hs-at-with-checkboxes-main" class="flex items-center">
                      <input
                        type="checkbox"
                        id="hs-at-with-checkboxes-main"
                        class="shrink-0 border-gray-300 rounded text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                      />
                      <span class="sr-only">Select all</span>
                    </label>
                  </th>
                  <ng-container *ngFor="let header of tableHeader">
                    <th

                      scope="col"
                      class="ps-6 lg:ps-3 xl:ps-0 pe-6 py-3 text-start whitespace-nowrap"
                    >
                      <div class="flex items-center gap-x-2">
                        <span class="text-xs  uppercase tracking-wide text-gray-800">
                          {{ header }}
                        </span>
                      </div>
                    </th>
                  </ng-container>
                  <th scope="col" class="ps-6 py-3 text-start"></th>
                </tr>
              </thead>

              <tbody class="divide-y divide-gray-200">
                <ng-container *ngFor="let fee of fees">
                  <tr routerLink="/app/fee-profile/1">
                    <td class="ps-6 py-3">
                      <label for="hs-at-with-checkboxes" class="flex items-center">
                        <input
                          type="checkbox"
                          id="hs-at-with-checkboxes-"
                          class="shrink-0 border-gray-300 rounded text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                        />
                        <!-- <span class="sr-only">Select {{ fee.first_name }}</span> -->
                      </label>
                    </td>
                    <td class="ps-6 py-3">
                      <div class="flex min-w-[150px] items-center gap-x-3">
                        <div class="grow ">
                          <span class="block text-sm  text-gray-800">
                            {{ fee.name }}
                          </span>
                        </div>
                      </div>
                    </td>
                    <td class="py-3">
                      <span class="block text-sm  text-gray-800">{{ fee.fee }}</span>
                    </td>
                    <td class="py-3">
                      <span class="text-xs text-gray-500">{{ fee.session }}</span>
                    </td>
                    <td class="py-3">
                      <span class="text-sm text-gray-500">{{ fee.amount }}</span>
                    </td>
                    <td class="py-3">
                      <a class="inline-flex items-center gap-x-1 text-sm text-blue-600 decoration-2 hover:underline focus:outline-none focus:underline font-medium">
                        {{ fee.status }}
                      </a>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>

          <!-- Footer -->
          <div class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-t border-gray-200 ">
              <div>
              <p class="text-sm text-gray-600 ">
                  <span class=" text-gray-800 ">12</span> results
              </p>
              </div>

              <div>
              <div class="inline-flex gap-x-2">
                  <button type="button" class="py-1.5 px-2 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-gray-50     ">
                  <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <path d="m15 18-6-6 6-6" />
                  </svg>
                  Prev
                  </button>

                  <button type="button" class="py-1.5 px-2 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-gray-50     ">
                  Next
                  <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <path d="m9 18 6-6-6-6" />
                  </svg>
                  </button>
              </div>
              </div>
          </div>
          <!-- End Footer -->
          </div>
      </div>
      </div>
    </div>
    <!-- End Card -->
    </div>
    <!-- End Table Section -->
  </div>

</div>
