<div class="section">
    <div class=" flex gap-4">
        <div class="">
            <img src="/assets/uploads/about-us/DIC200_1723031419.png"  class="w-24 h-24 object-cover" alt="">
        </div>
        <div class="detail">
            <h4 class="w-full max-w-[450px]">
                Department of Geography and Environmental Sustainability M.Sc. and PhD
            </h4>
            <p>
                <span class="text-base text-gray-800">HOD:</span>
                <span class="text-sm text-gray-500"> AA Kasim</span>
            </p>
            <p class="text-green-700">
                <span class="text-sm text-gray-800">Created on:</span>
                <span class="text-sm text-green-700"> 3 sept 2023</span>
            </p>
    </div>
    
</div>

<div class="mt-8 flex gap-4 border-b border-gray-200 cursor-pointer">
    <nav (click)="toggleTab('courses')" [ngClass]="{'border-seccolor': currentMenu=='courses'}" class="flex border-b-2 gap-4 text-base" aria-label="Tabs" role="tablist">
        Courses
      </nav>

      <nav (click)="toggleTab('student-enroled')" [ngClass]="{'border-seccolor': currentMenu=='student-enroled'}" class="flex border-b-2 gap-4 text-base" aria-label="Tabs" role="tablist">
        Students Enrolled
      </nav>

      <nav (click)="toggleTab('exams')" [ngClass]="{'border-seccolor': currentMenu=='exams'}" class="flex border-b-2 gap-4 text-base" aria-label="Tabs" role="tablist">
        Exams
      </nav>
      


</div>


<div *ngIf="currentMenu=='courses'">
    <div class="mt-6  w-full grid grid-cols-3  gap-4">
        <!-- start card -->
        <div (click)="route('app/course-content-detail/1')" class=" w-full flex flex-col bg-white border  shadow-sm rounded-xl  ">
            <div class="p-4 md:p-5">
              <div class="flex items-center gap-x-2">
                <h6 class=" uppercase tracking-wide text-gray-500 ">
                    International Relations and Diplomacy
                </h6>
              </div>
  
              <div class=" flex items-center justify-between gap-x-2">
                <p class="font-medium text-gray-500 ">
                  Total No. of videos
                  <span class="text-pricolor text-base font-semibold">6</span>
                </p>
                
              </div>

              <div class="w-full flex justify-end">
                <div class="flex px-2 py-2 border text-seccolor gap-2 items-center cursor-pointer">
                    <span>Take course</span>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                          </svg>
                    </span>
                </div>
              </div>

            </div>
        </div> 
        <!-- end card -->

    </div>

</div>

</div>