<div class="section">
    <!-- Table Section -->

    <app-sub-menu pageTitle="All Applications" actionName1="Delete (2)" addButton="Add Application" (addAction)="toggleAddBatch()"></app-sub-menu>
    
    <div class="w-full px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
     <!-- tables section -->
     <div class="w-full flex flex-col basis-[65%] h-[70vh] bg-white">
      <div class="-m-1.5 overflow-x-auto">
      <div class="p-1.5 min-w-full inline-block align-middle">
          <div class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden  ">


          <!-- Table -->
          <table class="min-w-full divide-y divide-gray-200 ">
              <thead class="bg-gray-50 ">
              <tr>
                  <th scope="col" class="ps-6 py-3 text-start">
                  <label for="hs-at-with-checkboxes-main" class="flex">
                      <input type="checkbox" class="shrink-0 border-gray-300 rounded text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none     " id="hs-at-with-checkboxes-main">
                      <span class="sr-only">Checkbox</span>
                  </label>
                  </th>

                  <th scope="col" class="ps-6 lg:ps-3 xl:ps-0 pe-6 py-3 text-start">
                  <div class="flex items-center gap-x-2">
                      <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 ">
                      Name
                      </span>
                  </div>
                  </th>

                  <th scope="col" class="px-6 py-3 text-start">
                  <div class="flex items-center gap-x-2">
                      <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 ">
                      Position
                      </span>
                  </div>
                  </th>

                  <th scope="col" class="px-6 py-3 text-start">
                  <div class="flex items-center gap-x-2">
                      <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 ">
                      Status
                      </span>
                  </div>
                  </th>

                  <th scope="col" class="px-6 py-3 text-start">
                  <div class="flex items-center gap-x-2">
                      <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 ">
                      Portfolio
                      </span>
                  </div>
                  </th>

                  <th scope="col" class="px-6 py-3 text-start">
                  <div class="flex items-center gap-x-2">
                      <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 ">
                      Created
                      </span>
                  </div>
                  </th>

                  <th scope="col" class="px-6 py-3 text-end"></th>
              </tr>
              </thead>

              <tbody class="divide-y divide-gray-200 ">
              <tr>
                  <td class="size-px whitespace-nowrap">
                  <div class="ps-6 py-3">
                      <label for="hs-at-with-checkboxes-1" class="flex">
                      <input type="checkbox" class="shrink-0 border-gray-300 rounded text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none     " id="hs-at-with-checkboxes-1">
                      <span class="sr-only">Checkbox</span>
                      </label>
                  </div>
                  </td>
                  <td class="size-px whitespace-nowrap">
                  <div class="ps-6 lg:ps-3 xl:ps-0 pe-6 py-3">
                      <div class="flex items-center gap-x-3">
                      <img class="inline-block size-[38px] rounded-full" src="https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" alt="Avatar">
                      <div class="grow">
                          <span class="block text-sm font-semibold text-gray-800 ">Christina Bersh</span>
                          <span class="block text-sm text-gray-500 ">christina&#64;site.com</span>
                      </div>
                      </div>
                  </div>
                  </td>
                  <td class="h-px w-72 whitespace-nowrap">
                  <div class="px-6 py-3">
                      <span class="block text-sm font-semibold text-gray-800 ">Director</span>
                      <span class="block text-sm text-gray-500 ">Human resources</span>
                  </div>
                  </td>
                  <td class="size-px whitespace-nowrap">
                  <div class="px-6 py-3">
                      <span class="py-1 px-1.5 inline-flex items-center gap-x-1 text-xs font-medium bg-teal-100 text-teal-800 rounded-full  ">
                      <svg class="size-2.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                      </svg>
                      Active
                      </span>
                  </div>
                  </td>
                  <td class="size-px whitespace-nowrap">
                  <div class="px-6 py-3">
                      <div class="flex items-center gap-x-3">
                      <span class="text-xs text-gray-500 ">1/5</span>
                      <div class="flex w-full h-1.5 bg-gray-200 rounded-full overflow-hidden ">
                          <div class="flex flex-col justify-center overflow-hidden bg-gray-800 " role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      </div>
                  </div>
                  </td>
                  <td class="size-px whitespace-nowrap">
                  <div class="px-6 py-3">
                      <span class="text-sm text-gray-500 ">28 Dec, 12:12</span>
                  </div>
                  </td>
                  <td class="size-px whitespace-nowrap">
                  <div class="px-6 py-1.5">
                      <a class="inline-flex items-center gap-x-1 text-sm text-blue-600 decoration-2 hover:underline focus:outline-none focus:underline font-medium " href="#">
                      Edit
                      </a>
                  </div>
                  </td>
              </tr>

              <tr>
                  <td class="size-px whitespace-nowrap">
                  <div class="ps-6 py-3">
                      <label for="hs-at-with-checkboxes-2" class="flex">
                      <input type="checkbox" class="shrink-0 border-gray-300 rounded text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none     " id="hs-at-with-checkboxes-2">
                      <span class="sr-only">Checkbox</span>
                      </label>
                  </div>
                  </td>
                  <td class="size-px whitespace-nowrap">
                  <div class="ps-6 lg:ps-3 xl:ps-0 pe-6 py-3">
                      <div class="flex items-center gap-x-3">
                      <img class="inline-block size-[38px] rounded-full" src="https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" alt="Avatar">
                      <div class="grow">
                          <span class="block text-sm font-semibold text-gray-800 ">David Harrison</span>
                          <span class="block text-sm text-gray-500 ">david&#64;site.com</span>
                      </div>
                      </div>
                  </div>
                  </td>
                  <td class="h-px w-72 whitespace-nowrap">
                  <div class="px-6 py-3">
                      <span class="block text-sm font-semibold text-gray-800 ">Seller</span>
                      <span class="block text-sm text-gray-500 ">Branding products</span>
                  </div>
                  </td>
                  <td class="size-px whitespace-nowrap">
                  <div class="px-6 py-3">
                      <span class="py-1 px-1.5 inline-flex items-center gap-x-1 text-xs font-medium bg-yellow-100 text-yellow-800 rounded-full  ">
                      <svg class="size-2.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                      </svg>
                      Warning
                      </span>
                  </div>
                  </td>
                  <td class="size-px whitespace-nowrap">
                  <div class="px-6 py-3">
                      <div class="flex items-center gap-x-3">
                      <span class="text-xs text-gray-500 ">3/5</span>
                      <div class="flex w-full h-1.5 bg-gray-200 rounded-full overflow-hidden ">
                          <div class="flex flex-col justify-center overflow-hidden bg-gray-800 " role="progressbar" style="width: 78%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      </div>
                  </div>
                  </td>
                  <td class="size-px whitespace-nowrap">
                  <div class="px-6 py-3">
                      <span class="text-sm text-gray-500 ">20 Dec, 09:27</span>
                  </div>
                  </td>
                  <td class="size-px whitespace-nowrap">
                  <div class="px-6 py-1.5">
                      <a class="inline-flex items-center gap-x-1 text-sm text-blue-600 decoration-2 hover:underline focus:outline-none focus:underline font-medium " href="#">
                      Edit
                      </a>
                  </div>
                  </td>
              </tr>

              <tr>
                  <td class="size-px whitespace-nowrap">
                  <div class="ps-6 py-3">
                      <label for="hs-at-with-checkboxes-12" class="flex">
                      <input type="checkbox" class="shrink-0 border-gray-300 rounded text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none     " id="hs-at-with-checkboxes-12">
                      <span class="sr-only">Checkbox</span>
                      </label>
                  </div>
                  </td>
                  <td class="size-px whitespace-nowrap">
                  <div class="ps-6 lg:ps-3 xl:ps-0 pe-6 py-3">
                      <div class="flex items-center gap-x-3">
                      <img class="inline-block size-[38px] rounded-full" src="https://images.unsplash.com/photo-1670272505340-d906d8d77d03?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" alt="Avatar">
                      <div class="grow">
                          <span class="block text-sm font-semibold text-gray-800 ">Jessica Williams</span>
                          <span class="block text-sm text-gray-500 ">myhairisred&#64;site.com</span>
                      </div>
                      </div>
                  </div>
                  </td>
                  <td class="h-px w-72 whitespace-nowrap">
                  <div class="px-6 py-3">
                      <span class="block text-sm font-semibold text-gray-800 ">Executive director</span>
                      <span class="block text-sm text-gray-500 ">Marketing</span>
                  </div>
                  </td>
                  <td class="size-px whitespace-nowrap">
                  <div class="px-6 py-3">
                      <span class="py-1 px-1.5 inline-flex items-center gap-x-1 text-xs font-medium bg-teal-100 text-teal-800 rounded-full  ">
                      <svg class="size-2.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                      </svg>
                      Active
                      </span>
                  </div>
                  </td>
                  <td class="size-px whitespace-nowrap">
                  <div class="px-6 py-3">
                      <div class="flex items-center gap-x-3">
                      <span class="text-xs text-gray-500 ">0/5</span>
                      <div class="flex w-full h-1.5 bg-gray-200 rounded-full overflow-hidden ">
                          <div class="flex flex-col justify-center overflow-hidden bg-gray-800 " role="progressbar" style="width: 1%" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      </div>
                  </div>
                  </td>
                  <td class="size-px whitespace-nowrap">
                  <div class="px-6 py-3">
                      <span class="text-sm text-gray-500 ">18 Dec, 15:20</span>
                  </div>
                  </td>
                  <td class="size-px whitespace-nowrap">
                  <div class="px-6 py-1.5">
                      <a class="inline-flex items-center gap-x-1 text-sm text-blue-600 decoration-2 hover:underline focus:outline-none focus:underline font-medium " href="#">
                      Edit
                      </a>
                  </div>
                  </td>
              </tr>
              </tbody>
          </table>
          <!-- End Table -->

          <!-- Footer -->
          <div class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-t border-gray-200 ">
              <div>
              <p class="text-sm text-gray-600 ">
                  <span class="font-semibold text-gray-800 ">12</span> results
              </p>
              </div>

              <div>
              <div class="inline-flex gap-x-2">
                  <button type="button" class="py-1.5 px-2 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-gray-50     ">
                  <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <path d="m15 18-6-6 6-6" />
                  </svg>
                  Prev
                  </button>

                  <button type="button" class="py-1.5 px-2 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-gray-50     ">
                  Next
                  <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <path d="m9 18 6-6-6-6" />
                  </svg>
                  </button>
              </div>
              </div>
          </div>
          <!-- End Footer -->
          </div>
      </div>
      </div>
  </div>
<!-- End Card -->
    </div>
  <!-- End Table Section -->
</div>


<div class="card flex justify-content-center">
    <!-- <p-button (onClick)="toggleAddBatch()" label="Show" /> -->
    <p-dialog 
        header="Add Aplication" 
        [modal]="true" 
        [(visible)]="addApplication" 
        [style]="{ width: '50rem' }" 
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
        [maximizable]="true">
        <form [formGroup]="createApplicationForm" (ngSubmit)="save()">
            <div class="p-4 overflow-y-auto">
        
              <div>
                <div class="section-title font-bold ">Personal information</div>
        
                <div>
                  <!-- Basic information -->
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4 border-b py-2 pb-8">
        
        
                  <div>
                    <label class="block text-gray-600 text-sm font-medium">
                      First Name
                      <span class="text-red-500">*</span>
                    </label>
                    <input formControlName="productName" type="text" [ngClass]="{'border-red-400': isSubmitted && f.productName.errors}" class="block w-full border px-3 py-2 bg-gray-100 focus:outline-none focus:ring-black-500 focus:border-black-500 sm:text-sm" placeholder="First Name">
                  </div>
        
                  <div>
                    <label class="block text-gray-600 text-sm font-medium">
                      Last Name
                      <span class="text-red-500">*</span>
                    </label>
                    <input formControlName="productName" type="text" [ngClass]="{'border-red-400': isSubmitted && f.productName.errors}" class="block w-full border px-3 py-2 bg-gray-100 focus:outline-none focus:ring-black-500 focus:border-black-500 sm:text-sm" placeholder="Last Name">
                  </div>
        
                  <div>
                    <label class="block text-gray-600 text-sm font-medium">
                      Gender
                      <span class="text-red-500">*</span>
                    </label>
                    <select [ngClass]="{'border-red-400': isSubmitted && f.warehouse.errors}" formControlName="warehouse" class="block border w-full px-3 py-2 bg-gray-100 focus:outline-none focus:ring-black-500 focus:border-black-500 sm:text-sm">
                      <option value="">Select Gender</option>
                      <ng-container *ngFor="let gender of genders">
                        <option value={{gender.id}} >{{gender.name}}</option>
                      </ng-container>
                    </select>
                  </div>
        
        
                  <div>
                    <label class="block text-gray-600 text-sm font-medium">
                      Email Address
                    </label>
                    <p class="text-red-700 mt-2 text-sm" *ngIf="isSubmitted && f.code.errors " >field required </p>
                    <input formControlName="code" [ngClass]="{'border-red-400': isSubmitted && f.code.errors}" type="text" class="block border w-full px-3 py-2 bg-gray-100 focus:outline-none focus:ring-black-500 focus:border-black-500 sm:text-sm" placeholder="Enter Email">
                  </div>
        
                  <div>
                    <label class="block text-gray-600 text-sm font-medium">
                      Mothers Name
                      <span class="text-red-500">*</span>
                    </label>
                    <input  formControlName="sku" [ngClass]="{'border-red-400': isSubmitted && f.sku.errors}" formControlName="sku" type="text" class="block border w-full px-3 py-2 bg-gray-100  focus:outline-none focus:ring-black-500 focus:border-black-500 sm:text-sm" placeholder="Enter Mothers' Name">
                  </div>
        
                  <div>
                    <label class="block text-gray-600 text-sm font-medium">
                      Phone Number
                    </label>
                    <input [ngClass]="{'border-red-400': isSubmitted && f.barcode.errors}" formControlName="barcode" type="text" class="block border w-full px-3 py-2 bg-gray-100 bg-gray-200focus:outline-none focus:ring-black-500 focus:border-black-500 sm:text-sm" placeholder="Enter Phone Number">
                  </div>
        
                  <div>
                    <label class="block text-gray-600 text-sm font-medium">
                      Marital Status
                      <span class="text-red-500">*</span>
                    </label>
                    <select [ngClass]="{'border-red-400': isSubmitted && f.warehouse.errors}" formControlName="warehouse" class="block border w-full px-3 py-2 bg-gray-100 focus:outline-none focus:ring-black-500 focus:border-black-500 sm:text-sm">
                      <option value="">Select Gender</option>
                      <ng-container *ngFor="let gender of genders">
                        <option value={{gender.id}} >{{gender.name}}</option>
                      </ng-container>
                    </select>
                  </div>
        
                  <div>
                    <label class="block text-gray-600 text-sm font-medium">
                      Religion
                      <span class="text-red-500">*</span>
                    </label>
                    <select [ngClass]="{'border-red-400': isSubmitted && f.warehouse.errors}" formControlName="warehouse" class="block border w-full px-3 py-2 bg-gray-100 focus:outline-none focus:ring-black-500 focus:border-black-500 sm:text-sm">
                      <option value="">Select Gender</option>
                      <ng-container *ngFor="let gender of genders">
                        <option value={{gender.id}} >{{gender.name}}</option>
                      </ng-container>
                    </select>
                  </div>
        
        
                </div>
              </div>
        
    
              <!-- Contact Information section -->
              <div class="py-4 mt-4">
                <div class="section-title font-bold">Contact Information</div>
        
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4 border-b py-2 pb-8">
        
        
                  <div>
                    <label class="block text-gray-600 text-sm font-medium">
                      State of Origin
                      <span class="text-red-500">*</span>
                    </label>
                    <select formControlName="vendor" [ngClass]="{'border-red-400': isSubmitted && f.vendor.errors}" class="block border w-full px-3 py-2 bg-gray-100 focus:outline-none focus:ring-black-500 focus:border-black-500 sm:text-sm" >
                      <option value="">Select course</option>
                       <ng-container *ngFor="let course of courses?.data">
                         <option value={{course.id}} >{{course.name}}</option>
                       </ng-container>
                    </select>
                  </div>
        
        
                  <div>
                    <label class="block text-gray-600 text-sm font-medium">
                      LGA
                      <span class="text-red-500">*</span>
                    </label>
                    <select formControlName="vendor" [ngClass]="{'border-red-400': isSubmitted && f.vendor.errors}" class="block border w-full px-3 py-2 bg-gray-100 focus:outline-none focus:ring-black-500 focus:border-black-500 sm:text-sm" >
                      <option value="">Select batch</option>
                       <ng-container *ngFor="let batch of batches?.data">
                         <option value={{batch.id}} >{{batch.name}}</option>
                       </ng-container>
                    </select>
                  </div>
        
                  
        
                  <div>
                    <label class="block text-gray-600 text-sm font-medium">
                      Home Address
                      <span class="text-red-500">*</span>
                    </label>
                    <textarea formControlName="sku" [ngClass]="{'border-red-400': isSubmitted && f.sku.errors}" formControlName="sku" type="text" class="block border w-full px-3 py-2 bg-gray-100  focus:outline-none focus:ring-black-500 focus:border-black-500 sm:text-sm" placeholder="Enter home address" id=""></textarea>
                  </div>
        
                  <div>
                    <label class="block text-gray-600 text-sm font-medium">
                      Contact Address
                      <span class="text-red-500">*</span>
                    </label>
                    <textarea formControlName="sku" [ngClass]="{'border-red-400': isSubmitted && f.sku.errors}" formControlName="sku" type="text" class="block border w-full px-3 py-2 bg-gray-100  focus:outline-none focus:ring-black-500 focus:border-black-500 sm:text-sm" placeholder="Enter contact address" id=""></textarea>
                  </div>
        
                  <div>
                    <label class="block text-gray-600 text-sm font-medium">
                      Home Town
                      <span class="text-red-500">*</span>
                    </label>
                    <input  formControlName="sku" [ngClass]="{'border-red-400': isSubmitted && f.sku.errors}" formControlName="sku" type="text" class="block border w-full px-3 py-2 bg-gray-100  focus:outline-none focus:ring-black-500 focus:border-black-500 sm:text-sm" placeholder="Enter home town">
                  </div>
        
        
                  <div class="flex gap-4">
        
                    <!-- <div class="">
                      <label class="block text-gray-600 text-sm font-medium">
                        Profit
                        <span class="text-red-500">*</span>
                      </label>
        
                        <input formControlName="profit" [ngClass]="{'border-red-400': isSubmitted && f.profit.errors}" type="text" class="block border w-full px-3 py-2 bg-gray-100 focus:outline-none focus:ring-black-500 focus:border-black-500 sm:text-sm" placeholder="Enter Profit">
                    </div> -->
        
                    <!-- <div>
                      <label class="block text-gray-600 text-sm font-medium">
                        Margin
                        <span class="text-red-500">*</span>
                      </label>
                      <input formControlName="margin" [ngClass]="{'border-red-400': isSubmitted && f.margin.errors}" type="text" class="block border w-full px-3 py-2 bg-gray-100 focus:outline-none focus:ring-black-500 focus:border-black-500 sm:text-sm" placeholder="Enter Margin">
                    </div> -->
        
                  </div>
        
                </div>
        
              </div>
        
              <!-- Programe Information section -->
              <div class="py-4 mt-4">
                <div class="section-title font-bold">Program information</div>
        
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4 border-b py-2 pb-8">
        
        
                  <div>
                    <label class="block text-gray-600 text-sm font-medium">
                      Course
                      <span class="text-red-500">*</span>
                    </label>
                    <select formControlName="vendor" [ngClass]="{'border-red-400': isSubmitted && f.vendor.errors}" class="block border w-full px-3 py-2 bg-gray-100 focus:outline-none focus:ring-black-500 focus:border-black-500 sm:text-sm">
                      <option value="">Select course</option>
                       <ng-container *ngFor="let course of courses?.data">
                         <option value={{course.id}} >{{course.name}}</option>
                       </ng-container>
                    </select>
                  </div>
        
        
                  <div>
                    <label class="block text-gray-600 text-sm font-medium">
                      Batch
                      <span class="text-red-500">*</span>
                    </label>
                    <select formControlName="vendor" [ngClass]="{'border-red-400': isSubmitted && f.vendor.errors}" class="block border w-full px-3 py-2 bg-gray-100 focus:outline-none focus:ring-black-500 focus:border-black-500 sm:text-sm">
                      <option value="">Select batch</option>
                       <ng-container *ngFor="let batch of batches?.data">
                         <option value={{batch.id}} >{{batch.name}}</option>
                       </ng-container>
                    </select>
                  </div>
        
                  <div class="flex gap-4">
        
                    <!-- <div class="">
                      <label class="block text-gray-600 text-sm font-medium">
                        Profit
                        <span class="text-red-500">*</span>
                      </label>
        
                        <input formControlName="profit" [ngClass]="{'border-red-400': isSubmitted && f.profit.errors}" type="text" class="block border w-full px-3 py-2 bg-gray-100 focus:outline-none focus:ring-black-500 focus:border-black-500 sm:text-sm" placeholder="Enter Profit">
                    </div> -->
        
                    <!-- <div>
                      <label class="block text-gray-600 text-sm font-medium">
                        Margin
                        <span class="text-red-500">*</span>
                      </label>
                      <input formControlName="margin" [ngClass]="{'border-red-400': isSubmitted && f.margin.errors}" type="text" class="block border w-full px-3 py-2 bg-gray-100 focus:outline-none focus:ring-black-500 focus:border-black-500 sm:text-sm" placeholder="Enter Margin">
                    </div> -->
        
                  </div>
        
                </div>
        
              </div>
        
        
            </div>
        
            <div class=" flex w-full justify-between items-center gap-x-2 py-3 px-4 border-t">
        
              <div>
                <span class="text-gray-500 text-sm">Advance settings</span>
              </div>
              <button type="submit" >
                <p-button class="p-2 px-4 bg-primary text-white text-sm" [loading]="loading"  label="Save" ></p-button>
              </button>
            </div>
            </div>
          </form>
    </p-dialog>
  </div>