<div class="section">
    <div class="flex flex-col md:flex-md lg:flex-row gap-8">
        <!-- List -->
        <div class="flex flex-col gap-2 basis-1/2">
        <div class="flex flex-col sm:flex-row gap-1">
          <span class="min-w-28">
            <span class="block  text-sm text-gray-500">Course:</span>
          </span>
          <span>
            <span class="me-1 after:content-[','] inline-flex items-center text-sm text-gray-800">
            International Relations and Diplomacy
            </span>

          </span>
        </div>

        <div class="flex flex-col sm:flex-row gap-1">
            <span class="min-w-28">
              <span class="block text-sm text-gray-500">Full name:</span>
            </span>
            <span>
              <span class="me-1 after:content-[','] inline-flex items-center text-sm text-gray-800">
              Bello Ahmed
              </span>

            </span>
          </div>

          <div class="flex flex-col sm:flex-row gap-1">
            <span class="min-w-28">
              <span class="block text-sm text-gray-500">Next of kin:</span>
            </span>
            <span>
              <span class="me-1 after:content-[','] inline-flex items-center text-sm text-gray-800">
              Jigawa
              </span>

            </span>
          </div>

          <div class="flex flex-col sm:flex-row gap-1">
            <span class="min-w-28">
              <span class="block text-sm text-gray-500">Course start:</span>
            </span>
            <span>
              <span class="me-1 after:content-[','] inline-flex items-center text-sm text-gray-800">
              17 Jan 2023
              </span>

            </span>
          </div>

          <div class="flex flex-col sm:flex-row gap-1">
            <span class="min-w-28">
              <span class="block text-sm text-gray-500">Course End:</span>
            </span>
            <span>
              <span class="me-1 after:content-[','] inline-flex items-center text-sm text-gray-800">
              17 Jan 2023
              </span>

            </span>
          </div>

      </div>
      <!-- End List -->

      <div>
        <!-- Grid -->
<div class="grid grid-cols-1 sm:grid-cols-2 basis-1/2">
    <div class="">



      <p class="mt-1 flex gap-2 text-sm text-gray-600">
        <span class="text-sm text-gray-500 font-semibold min-w-28">State: </span>
        <span class="text-sm text-gray-800 ">Jigawa</span>
      </p>

      <p class="mt-1 flex gap-2 text-sm text-gray-600">
        <span class="text-sm text-gray-500  min-w-28">LGA: </span>
        <span class="text-sm text-gray-800 ">Dutse</span>
      </p>

      <p class="mt-1 flex gap-2 text-sm text-gray-600">
        <span class="text-sm text-gray-500  min-w-28">Addres: </span>
        <span class="text-sm text-gray-800 ">Plot no. 116 Lane number 4 Abuja Crescent</span>
      </p>

      <p class="mt-1 flex gap-2 text-sm text-gray-600">
        <span class="text-sm text-gray-500  min-w-28">
            phone number
        </span>
        <span class="text-sm text-gray-800 ">0814412345</span>
      </p>

      <p class="mt-1 flex gap-2 text-sm text-gray-600">
        <span class="text-sm text-gray-500  min-w-28">
            Email Address
        </span>
        <span class="text-sm text-gray-800">student&#64;gmai.com</span>
      </p>


    </div>

    <div class="">

        <!-- <h5 class="font-semibold text-gray-800">
            Contact
          </h5> -->




    </div>
  </div>
  <!-- End Grid -->
      </div>

    </div>


    <!-- stats section -->

<div class="mt-12 bg-white rounded-lg p-4">
  <div class="heading flex justify-between items-center h-full">
    <p class="title font-bold  text-gray-800">Change password</p>
    <button class="px-4 py-2 text-white bg-seccolor rounded-md">Change</button>
  </div>

  <form action="" class="mt-6 flex flex-col gap-3 w-full max-w-[400px]">
    <div class="flex flex-col gap-1">
      <label class="font-semibold" for="password">Password</label>
      <input type="text" class="px-4 py-2 border rounded-md w-full " placeholder="Enter current password">
    </div>

    <div class="flex flex-col gap-1">
      <label class="font-semibold" for="New password">New Password</label>
      <input type="text" class="px-4 py-2 border rounded-md w-full " placeholder="Enter new password">
    </div>

    <div class="flex flex-col gap-1">
      <label class="font-semibold" for="Confirm new password">Confirm New Password</label>
      <input type="text" class="px-4 py-2 border rounded-md w-full " placeholder="Confirm new password">
    </div>

  </form>
</div>

    <!-- stats end -->
</div>
