<div class="section">
    <div class="flex flex-col md:flex-md lg:flex-row gap-8">
        <!-- List -->
        <div class="flex flex-col gap-2 basis-1/2">
        <div class="flex flex-col sm:flex-row gap-1">
          <span class="min-w-28">
            <span class="block  text-sm text-gray-500">Course:</span>
          </span>
          <span>
            <span class="me-1 after:content-[','] inline-flex items-center text-sm text-gray-800">
            International Relations and Diplomacy
            </span>
    
          </span>
        </div>

        <div class="flex flex-col sm:flex-row gap-1">
            <span class="min-w-28">
              <span class="block text-sm text-gray-500">Full name:</span>
            </span>
            <span>
              <span class="me-1 after:content-[','] inline-flex items-center text-sm text-gray-800">
              Bello Ahmed
              </span>
      
            </span>
          </div>

          <div class="flex flex-col sm:flex-row gap-1">
            <span class="min-w-28">
              <span class="block text-sm text-gray-500">Next of kin:</span>
            </span>
            <span>
              <span class="me-1 after:content-[','] inline-flex items-center text-sm text-gray-800">
              Jigawa
              </span>
      
            </span>
          </div>

          <div class="flex flex-col sm:flex-row gap-1">
            <span class="min-w-28">
              <span class="block text-sm text-gray-500">Course start:</span>
            </span>
            <span>
              <span class="me-1 after:content-[','] inline-flex items-center text-sm text-gray-800">
              17 Jan 2023
              </span>
      
            </span>
          </div>

          <div class="flex flex-col sm:flex-row gap-1">
            <span class="min-w-28">
              <span class="block text-sm text-gray-500">Course End:</span>
            </span>
            <span>
              <span class="me-1 after:content-[','] inline-flex items-center text-sm text-gray-800">
              17 Jan 2023
              </span>
      
            </span>
          </div>

      </div>
      <!-- End List -->

      <div>
        <!-- Grid -->
<div class="grid grid-cols-1 sm:grid-cols-2 basis-1/2">
    <div class="">


  
      <p class="mt-1 flex gap-2 text-sm text-gray-600">
        <span class="text-sm text-gray-500 font-semibold min-w-28">State: </span>
        <span class="text-sm text-gray-800 ">Jigawa</span>
      </p>

      <p class="mt-1 flex gap-2 text-sm text-gray-600">
        <span class="text-sm text-gray-500 font-semibold min-w-28">LGA: </span>
        <span class="text-sm text-gray-800 ">Dutse</span>
      </p>

      <p class="mt-1 flex gap-2 text-sm text-gray-600">
        <span class="text-sm text-gray-500 font-semibold min-w-28">Addres: </span>
        <span class="text-sm text-gray-800 ">Plot no. 116 Lane number 4 Abuja Crescent</span>
      </p>

      <p class="mt-1 flex gap-2 text-sm text-gray-600">
        <span class="text-sm text-gray-500 font-semibold min-w-28">
            phone number
        </span>
        <span class="text-sm text-gray-800 ">0814412345</span>
      </p>

      <p class="mt-1 flex gap-2 text-sm text-gray-600">
        <span class="text-sm text-gray-500 font-semibold min-w-28">
            Email Address
        </span>
        <span class="text-sm text-gray-800">student&#64;gmai.com</span>
      </p>


    </div>
  
    <div class="">
  
        <!-- <h5 class="font-semibold text-gray-800">
            Contact
          </h5> -->
      
          
    

    </div>
  </div>
  <!-- End Grid -->
      </div>
    
    </div>


    <!-- stats section -->

<div class="mt-12 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  
    <div class="p-4 border border-gray-200 rounded-lg">

        <h5 class="font-semibold text-gray-800 ">
            Exams
          </h5>

          <div class="h-1"></div>
      
          <p class="mt-1 flex gap-2 text-sm text-gray-600">
            <span class="text-sm text-gray-500 font-semibold min-w-12">
                Total Exams:
            </span>
            <span class="text-sm text-gray-800 font-semibold">24</span>
          </p>
    
          <p class="mt-1 flex gap-2 text-sm text-gray-600">
            <span class="text-sm text-gray-500 font-semibold min-w-12">
              Attempted
            </span>
            <span class="text-sm text-gray-800 font-semibold">12</span>
          </p>

          <div class="flex justify-between">
            <p class="mt-1 flex gap-2 text-sm text-gray-600">
                <span class="text-sm text-green-600 font-semibold min-w-12">
                  Passed
                </span>
                <span class="text-sm text-gray-800 font-semibold">7</span>
              </p>

              <p class="mt-1 flex gap-2 text-sm text-gray-600">
                <span class="text-sm text-pricolor font-semibold min-w-12">
                  Failed
                </span>
                <span class="text-sm text-gray-800 font-semibold">5</span>
              </p>
          </div>

          <div class="w-full flex justify-center">
            <button class="bg-seccolor text-white flex justify-center w-full py-2 rounded-md">View Details</button>
          </div>

    </div>

    <div class="p-4 border border-gray-200 rounded-lg">

        <h5 class="font-semibold text-gray-800 ">
            Assignment
          </h5>

          <div class="h-1"></div>
      
          <p class="mt-1 flex gap-2 text-sm text-gray-600">
            <span class="text-sm text-gray-500 font-semibold min-w-12">
                Total Assignment:
            </span>
            <span class="text-sm text-gray-800 font-semibold">24</span>
          </p>
    
          <p class="mt-1 flex gap-2 text-sm text-gray-600">
            <span class="text-sm text-gray-500 font-semibold min-w-12">
              Submitted
            </span>
            <span class="text-sm text-gray-800 font-semibold">12</span>
          </p>

          <div class="flex justify-between">
            <p class="mt-1 flex gap-2 text-sm text-gray-600">
                <span class="text-sm text-green-600 font-semibold min-w-12">
                  Passed
                </span>
                <span class="text-sm text-gray-800 font-semibold">7</span>
              </p>

              <p class="mt-1 flex gap-2 text-sm text-gray-600">
                <span class="text-sm text-pricolor font-semibold min-w-12">
                  Failed
                </span>
                <span class="text-sm text-gray-800 font-semibold">5</span>
              </p>
          </div>

          <div class="w-full flex justify-center">
            <button class="bg-seccolor text-white flex justify-center w-full py-2 rounded-md">View Details</button>
          </div>

    </div>


    

    

  </div>

    <!-- stats end -->
</div>