<div class="section">
    <div class=" flex gap-4">
        <div class="">
            <img src="/assets/uploads/about-us/DIC200_1723031419.png"  class="w-24 h-24 object-cover" alt="">
        </div>
        <div class="detail">
            <h4 class="w-full max-w-[450px]">
                Department of Geography and Environmental Sustainability M.Sc. and PhD
            </h4>
            <p>
                <span class="text-base text-gray-800">HOD:</span>
                <span class="text-sm text-gray-500"> AA Kasim</span>
            </p>
            <p class="text-green-700">
                <span class="text-sm text-gray-800">Created on:</span>
                <span class="text-sm text-green-700"> 3 sept 2023</span>
            </p>
    </div>
    
</div>

<div class="mt-8 flex gap-8 border-b border-gray-200 cursor-pointer">
    <nav (click)="toggleTab('general')" [ngClass]="{'border-seccolor': currentMenu=='general'}" class="flex border-b-2 gap-4 text-base" aria-label="Tabs" role="tablist">
        General
      </nav>

      <nav (click)="toggleTab('courses')" [ngClass]="{'border-seccolor': currentMenu=='courses'}" class="flex border-b-2 gap-4 text-base" aria-label="Tabs" role="tablist">
        Courses
      </nav>

      <nav (click)="toggleTab('exams')" [ngClass]="{'border-seccolor': currentMenu=='exams'}" class="flex border-b-2 gap-4 text-base" aria-label="Tabs" role="tablist">
        Exams
      </nav>

      <nav (click)="toggleTab('assignment')" [ngClass]="{'border-seccolor': currentMenu=='assignment'}" class="flex border-b-2 gap-4 text-base" aria-label="Tabs" role="tablist">
        Assignment
      </nav>
      <nav (click)="toggleTab('fees')" [ngClass]="{'border-seccolor': currentMenu=='fees'}" class="flex border-b-2 gap-4 text-base" aria-label="Tabs" role="tablist">
        Fees
      </nav>
      


</div>


<div class="mt-6">

  <div *ngIf="currentMenu=='courses'">
    <app-courses-card></app-courses-card>

</div>

<div *ngIf="currentMenu=='general'">
  
    <app-general-info></app-general-info>
</div>

<div *ngIf="currentMenu=='exams'">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <app-exams></app-exams>
  </div>
</div>

<div *ngIf="currentMenu=='assignment'">
    <app-assignment></app-assignment>
</div>

<div *ngIf="currentMenu=='fees'">
    <app-fees></app-fees>
</div>
</div>

</div>