<div class="section">
    <div class="">
        <div class="logo font-bold text-2xl flex  gap-4 items-center cursor-pointer">
            <img src="/assets/uploads/about-us/DIC200_1723031419.png"  class="" alt="">
        </div>
        <div class="detail">
            <h4>
                Department of Geography and Environmental Sustainability M.Sc. and PhD
            </h4>
            <p>
                <span>HOD:</span>
                <span>AA Kasim</span>
            </p>
            <p>
                <span>Created on:</span>
                <span>3 sept 2023</span>
            </p>
        </div>
</div>
