<div class="mt-6  w-full grid grid-cols-2  gap-4">
  <!-- start card -->
      <ng-container *ngFor="let assignment of assignments">

        <div class="p-4 border w-full max-w-[500px] border-gray-200 rounded-lg">

          <h5 class="font-semibold text-gray-800 ">
              {{assignment.department}}

            </h5>

            <div class="  max-w-[350px] my-3">
              <span class="h-3 w-3 text-gray-500 font-semibold min-w-12">Course: </span>
              <span class="h-3 w-3 ">
                {{assignment.course}}

              </span>
            </div>

            <div class="flex justify-between">
              <p class="mt-1 flex gap-2 text-sm text-gray-600 items-center">
                  <span class="text-sm text-gray-800 font-semibold min-w-6">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-fill" viewBox="0 0 16 16">
                          <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5h16V4H0V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5"/>
                        </svg>
                  </span>
                  <span class="text-sm text-gray-800 font-semibold">
                    {{assignment.due_date}}
                  </span>
                </p>

                <p class="mt-1 flex gap-2 text-sm text-gray-600">
                  <span class="text-sm text-gray-800 font-semibold min-w-6 items-center">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                          <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
                          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"/>
                        </svg>
                  </span>
                  <span class="text-sm text-gray-800 font-semibold">{{assignment.due_time}} </span>
                </p>
            </div>

            <p class="mt-1 flex gap-2 text-sm text-gray-600">
              <span class="text-sm text-gray-500 font-semibold min-w-12">
                  Passing Percentage:
              </span>
            <span class="text-sm text-gray-800 font-semibold">{{assignment.passing_percentage}}</span>
            </p>

            <p *ngIf="viewer=='student' " class="mt-1 flex gap-2 text-sm text-gray-600">
              <span class="text-sm text-gray-500 font-semibold min-w-12">
                Scored Percentage
              </span>
              <span class="text-sm text-gray-800 font-semibold">{{assignment.scored_percentage}}</span>
            </p>

            <div class="h-4"></div>
            <div (click)="toggleViewAssignmentDetail(viewer, assignment.assignment_id)" class="w-full flex justify-center">
              <button class="bg-seccolor text-white flex justify-center w-full py-2 rounded-md">View Details</button>
            </div>


      </div>

      </ng-container>
      <!-- end card -->



</div>










<p-sidebar [(visible)]="viewStaffAssignment" position="right" styleClass="hidden-scrollbar" [style]="{'width':'50%'}">
  <app-assignment-detail [viewer]="viewer" ></app-assignment-detail>
</p-sidebar>


<p-sidebar [(visible)]="viewStudentAssignment" position="right" styleClass="hidden-scrollbar" [style]="{'width':'50%'}">
  <app-assignment-detail [viewer]="viewer" [assignmentDetail]="assignmentDetail"></app-assignment-detail>
</p-sidebar>
