
<!-- Start Content-->
<div class="main-body">
  <div class="page-wrapper">
      <!-- [ Main Content ] start -->
      <div class="card">
          <div class="card-block">
              <div class="row mt-5 mb-5">
                  <div class="col-sm-2">
                      <div class="inner text-center">
                                                      <img src="/assets/uploads/application-setting/DIC200_1721131379.png" class="img-fluid" alt="Logo">
                                                  </div>
                  </div>
                  <div class="col-sm-8 text-center">
                      <h2>Application</h2>
                      <p>Apply now</p>
                  </div>
                  <div class="col-sm-2">
                      <div class="inner text-center">
                                                      <img src="/assets/uploads/application-setting/042B696C_209A_449F_9B07_9F2AB1A3A24E_1721130710.png" class="img-fluid" alt="Logo">
                                                  </div>
                  </div>
              </div>



          </div>
      </div>
      <div class="clearfix"></div>

      <div class="row">
          <!-- [ Card ] start -->
          <div class="col-sm-12">
              <div class="card px-8">
                <div class="">
                  <form id="" class=""  method="post" enctype="multipart/form-data" >
                      <!-- <input type="hidden" name="_token" value="JjdTj7but7Au6GvK1kkJMVCcse3gu8bAjYq9GJ4Z"> -->

                      <div class="flex gap-2 bg-white shadow-md  h-[64px]">
                        <h3 (click)="toggleFormStage(1)" [ngClass]="{'bg-seccolor text-white': currentStage==1 && formStage==1}" class="py-1 px-4 bg-gray-300 text-gray-400 shadow-md h-[35px] text-base border w-[220px] rounded-md">Download Form</h3>
                        <h3 (click)="toggleFormStage(2)" [ngClass]="{'bg-seccolor text-white': currentStage==2 && formStage==2}" class="py-1 px-4 bg-gray-300 text-gray-400 shadow-md h-[35px] text-base border w-[220px] rounded-md">Basic Info</h3>
                        <h3 (click)="toggleFormStage(3)" [ngClass]="{'bg-seccolor text-white': currentStage==3 && formStage==3}" class="py-1 px-4 bg-gray-300 text-gray-400 shadow-md h-[35px] text-base border w-[220px] rounded-md">Document</h3>
                      </div>

                      <ng-container *ngIf="formStage==1">
                      <content class="form-step">
                          <!-- Form Start -->
                          <div class="row">
                              <div class="col-md-12">
                                  <fieldset class="row scheduler-border">
                                      <div class="form-group col-md-12">
                                          <p><a style="color: blue" href="/assets/uploads/about-us/APPLICATION_FORM.pdf" target="_blank" style="text-decoration: underline !important; color:blue">Click here to Download PG Programme Form</a> - Fill the form accordingly and upload as part of the required documents</p>
                                      </div>
                                      <div>
                                          <p>PAYMENT INFORMATION</p><br>
                                          <p>Account Name: <b>DIC UNN</b></p>
                                          <p>Account Number: <b>1027305293</b></p>
                                          <p>Bank: <b>UBA</b></p>
                                      </div>
                                  </fieldset>
                              </div>
                          </div>
                      </content>
                      </ng-container>


                      <ng-container *ngIf="formStage==2">
                        <h3>Basic Info</h3>
                      <content class="form-step">
                          <!-- Form Start -->
                          <div class="row">
                          <div class="col-md-12">
                          <fieldset class="row scheduler-border">
                          <div class="form-group col-md-6">
                              <label for="first_name">First Name <span>*</span></label>
                              <input type="text" class="form-control" name="first_name" id="first_name" value="" required>

                              <div class="invalid-feedback">
                                Please Enter First Name
                              </div>
                          </div>

                          <div class="form-group col-md-6">
                              <label for="last_name">Last Name <span>*</span></label>
                              <input type="text" class="form-control" name="last_name" id="last_name" value="" required>

                              <div class="invalid-feedback">
                                Please Enter Last Name
                              </div>
                          </div>





                          <div class="form-group col-md-6">
                              <label for="phone">Phone <span>*</span></label>
                              <input type="text" class="form-control" name="phone" id="phone" value="" required>

                              <div class="invalid-feedback">
                                Please Enter Phone
                              </div>
                          </div>

                          <div class="form-group col-md-6">
                              <label for="email">Email <span>*</span></label>
                              <input type="email" class="form-control" name="email" id="email" value="" required>

                              <div class="invalid-feedback">
                                Please Enter Email
                              </div>
                          </div>

                          <div class="form-group col-md-6">
                              <label for="gender">Gender <span>*</span></label>
                              <select class="form-control" name="gender" id="gender" required>
                                  <option value="">Select</option>
                                  <option value="1" >Male</option>
                                  <option value="2" >Female</option>
                                  <option value="3" >Other</option>
                              </select>

                              <div class="invalid-feedback">
                                Please Enter Gender
                              </div>
                          </div>

                          <div class="form-group col-md-6">
                              <label for="dob">Date Of Birth <span>*</span></label>
                              <input type="date" class="form-control date" name="dob" id="dob" value="" required>

                              <div class="invalid-feedback">
                                Please Enter Date Of Birth
                              </div>
                          </div>









                                                      </fieldset>
                          </div>
                          </div>


                          <fieldset class="row scheduler-border">
                          <legend>Academic Information</legend>
                          <div class="form-group col-md-6">
                          <label for="program">Program <span>*</span></label>
                              <select class="form-control program" name="program" id="program" required>
                                <option value="">Select</option>
                                                                    <option value="1" >Cartography</option>
                                                                    <option value="5" >Conflict, Peace and Strategic Studies</option>
                                                                    <option value="9" >Criminal Psychology and Forensic Studies</option>
                                                                    <option value="8" >Criminology, Conflict and Change</option>
                                                                    <option value="3" >Geographic Information System</option>
                                                                    <option value="6" >Human Security and Counter-Terrorism</option>
                                                                    <option value="4" >International Relations and Diplomacy</option>
                                                                    <option value="2" >Remote Sensing</option>
                                                                    <option value="7" >Soft Protocol and Diplomacy</option>
                                                                    <option value="10" >Strategic Intelligence and Security Management</option>
                                                                </select>

                            <div class="invalid-feedback">
                              Please Enter Program
                            </div>
                          </div>
                          </fieldset>
                          <!-- Form End -->
                      </content>
                      </ng-container>


                      <ng-container *ngIf="formStage==3">
                        <h3>Documents</h3>
                      <content class="form-step">
                          <!-- Form Start--->
                          <fieldset class="row scheduler-border">
                                                      <div class="form-group col-md-6">
                              <label for="photo">Photo: <span>Best Resolution Height- 300 PX, Width- 300 PX</span> <span>*</span></label>
                              <input type="file" class="form-control" name="photo" id="photo" value="" required>

                              <div class="invalid-feedback">
                                Please Enter Photo
                              </div>
                          </div>

                          <div class="form-group col-md-6">
                              <label for="document">Upload Document: <span>Application Form</span> <span>*</span></label>
                              <input type="file" class="form-control" name="document" id="document" value="" required>

                              <div class="invalid-feedback">
                                Please Enter Document
                              </div>
                          </div>

                                                      <div class="form-group col-md-12">
                              <p>Note: Academic Credentials should be forwarded to <a style="color:#3ea1e4" href="mailto:dicunn.pgs@gmail.com">dicunn.pgs&#64;gmail.com</a></p>
                          </div>
                          </fieldset>
                          <!-- Form End--->
                      </content>
                      </ng-container>
                  </form>
                  </div>

              </div>
          </div>
          <!-- [ Card ] end -->
      </div>
      <!-- [ Main Content ] end -->
  </div>
</div>
<!-- End Content-->

