<div class="section h-screen w-full">
    
  <app-sub-menu pageTitle="All Courses" actionName1="Delete (2)" addButton="Add Course" (addAction)="toggleAddCourse()"></app-sub-menu>


    <div class="mt-6 w-full grid grid-cols-3 gap-4">
        <!-- start card -->
        <div (click)="route('/app/courses/1')" class=" w-full flex flex-col bg-white border shadow-sm rounded-xl ">
            <div class="p-4 md:p-5">
              <div class="flex items-center gap-x-2">
                <h6 class=" uppercase tracking-wide text-gray-500 ">
                    Department of Geography and Environmental Sustainability M.Sc. and PhD
                </h6>
              </div>
  
              <div class=" flex items-center justify-between gap-x-2">
                <p class="font-medium text-gray-500 ">
                  Total No. of courses 3
                </p>
                <div class="flex gap-2 items-center cursor-pointer">
                    <span class='text-seccolor'>view all</span>
                    <span class="text-seccolor">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                          </svg>
                    </span>
                </div>
              </div>
            </div>
        </div> 
        <!-- end card -->

        <!-- start card -->
        <div (click)="route('/app/courses/1')" class=" w-full flex flex-col bg-white border shadow-sm rounded-xl ">
            <div class="p-4 md:p-5">
              <div class="flex items-center gap-x-2">
                <h6 class=" uppercase tracking-wide text-gray-500 ">
                    Department of Geography and Environmental Sustainability M.Sc. and PhD
                </h6>
              </div>
  
              <div class=" flex items-center justify-between gap-x-2">
                <p class="font-medium text-gray-500 ">
                  Total No. of courses 3
                </p>
                <div class="flex gap-2 items-center cursor-pointer">
                    <span class='text-seccolor'>view all</span>
                    <span class="text-seccolor">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                          </svg>
                    </span>
                </div>
              </div>
            </div>
        </div> 
        <!-- end card -->


        <!-- start card -->
        <div (click)="route('/app/courses/1')" class=" w-full flex flex-col bg-white border shadow-sm rounded-xl  ">
            <div class="p-4 md:p-5">
              <div class="flex items-center gap-x-2">
                <h6 class=" uppercase tracking-wide text-gray-500 ">
                    Department of Geography and Environmental Sustainability M.Sc. and PhD
                </h6>
              </div>
  
              <div class=" flex items-center justify-between gap-x-2">
                <p class="font-medium text-gray-500 ">
                  Total No. of courses 3
                </p>
                <div class="flex gap-2 items-center cursor-pointer">
                    <span class='text-seccolor'>view all</span>
                    <span class="text-seccolor">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                          </svg>
                    </span>
                </div>
              </div>
            </div>
        </div> 
        <!-- end card -->


        <!-- start card -->
        <div (click)="route('/app/courses/1')" class=" w-full flex flex-col bg-white border shadow-sm rounded-xl  ">
            <div class="p-4 md:p-5">
              <div class="flex items-center gap-x-2">
                <h6 class=" uppercase tracking-wide text-gray-500 ">
                    Department of Geography and Environmental Sustainability M.Sc. and PhD
                </h6>
              </div>
  
              <div class=" flex items-center justify-between gap-x-2">
                <p class="font-medium text-gray-500 ">
                  Total No. of courses 3
                </p>
                <div class="flex gap-2 items-center cursor-pointer">
                    <span class='text-seccolor'>view all</span>
                    <span class="text-seccolor">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                          </svg>
                    </span>
                </div>
              </div>
            </div>
        </div> 
        <!-- end card -->


        <!-- start card -->
        <div (click)="route('/app/courses/1')" class=" w-full flex flex-col bg-white border shadow-sm rounded-xl  ">
            <div class="p-4 md:p-5">
              <div class="flex items-center gap-x-2">
                <h6 class=" uppercase tracking-wide text-gray-500 ">
                    Department of Geography and Environmental Sustainability M.Sc. and PhD
                </h6>
              </div>
  
              <div class=" flex items-center justify-between gap-x-2">
                <p class="font-medium text-gray-500 ">
                  Total No. of courses 3
                </p>
                <div class="flex gap-2 items-center cursor-pointer">
                    <span class='text-seccolor'>view all</span>
                    <span class="text-seccolor">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                          </svg>
                    </span>
                </div>
              </div>
            </div>
        </div> 
        <!-- end card -->
    </div>
</div>


<div class="card flex justify-content-center">
    <p-button (onClick)="toggleAddCourse()" label="Show" />
    <p-dialog 
        header="Add Courses" 
        [modal]="true" 
        [(visible)]="addCourse" 
        [style]="{ width: '50rem' }" 
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
        [maximizable]="true">
        
        <!-- Contact Information section -->
        <form [formGroup]="createCourseForm" (ngSubmit)="createCourse()">
          <div class="p-4 overflow-y-auto">
      
            <div>
      
              <div>
                <!-- Basic information -->
              <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4 border-b py-2 pb-8">
      
                <div>
                  <label class="block text-gray-600 text-sm font-medium">
                    Department
                    <span class="text-red-500">*</span>
                  </label>
                  <select [ngClass]="{'border-red-400': isSubmitted && f.warehouse.errors}" formControlName="warehouse" class="block border w-full px-3 py-2 bg-gray-100 focus:outline-none focus:ring-black-500 focus:border-black-500 sm:text-sm">
                    <option value="">Select Gender</option>
                    <ng-container *ngFor="let department of departments">
                      <option value={{department.id}} >{{department.name}}</option>
                    </ng-container>
                  </select>
                </div>

                <div>
                  <label class="block text-gray-600 text-sm font-medium">
                    Batch
                    <span class="text-red-500">*</span>
                  </label>
                  <select [ngClass]="{'border-red-400': isSubmitted && f.warehouse.errors}" formControlName="warehouse" class="block border w-full px-3 py-2 bg-gray-100 focus:outline-none focus:ring-black-500 focus:border-black-500 sm:text-sm">
                    <option value="">Select Batch</option>
                    <ng-container *ngFor="let department of departments">
                      <option value={{department.id}} >{{department.name}}</option>
                    </ng-container>
                  </select>
                </div>
      
                <div>
                  <label class="block text-gray-600 text-sm font-medium">
                    Course
                    <span class="text-red-500">*</span>
                  </label>
                  <input formControlName="productName" type="text" [ngClass]="{'border-red-400': isSubmitted && f.productName.errors}" class="block w-full border px-3 py-2 bg-gray-100 focus:outline-none focus:ring-black-500 focus:border-black-500 sm:text-sm" placeholder="First Name">
                </div>   
      
      
              </div>
            </div>

              </div>
      
      
      
      
          </div>
      
          <div class=" flex w-full justify-between items-center gap-x-2 py-3 px-4 border-t">
      
            <div>
              <span class="text-gray-500 text-sm">Advance settings</span>
            </div>
            <button type="submit" >
              <p-button class="p-2 px-4 bg-primary text-white text-sm" [loading]="loading"  label="Save" ></p-button>
            </button>
          </div>
        </form>

    </p-dialog>
</div>

