<div class="section h-screen w-full">
    
    <app-sub-menu></app-sub-menu>

    <div class="mt-6 w-full grid grid-cols-4 gap-4">
        <!-- start card -->
        <div class=" w-full max-w-[350px] flex flex-col bg-white border shadow-sm rounded-xl dark:bg-neutral-800 dark:border-neutral-700">
            <div class="p-4 md:p-5">
              <div class="flex items-center gap-x-2">
                <h6 class=" uppercase tracking-wide text-gray-500 dark:text-neutral-500">
                    Department of Geography and Environmental Sustainability M.Sc. and PhD
                </h6>
              </div>
  
              <div class=" flex items-center justify-between gap-x-2">
                <p class="font-medium text-gray-500 dark:text-neutral-200">
                  Total No. of courses 3
                </p>
                <div class="flex gap-2 items-center cursor-pointer">
                    <span>view all</span>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                          </svg>
                    </span>
                </div>
              </div>
            </div>
        </div> 
        <!-- end card -->

        <!-- start card -->
        <div class=" w-full max-w-[350px] flex flex-col bg-white border shadow-sm rounded-xl dark:bg-neutral-800 dark:border-neutral-700">
            <div class="p-4 md:p-5">
              <div class="flex items-center gap-x-2">
                <h6 class=" uppercase tracking-wide text-gray-500 dark:text-neutral-500">
                    Department of Geography and Environmental Sustainability M.Sc. and PhD
                </h6>
              </div>
  
              <div class=" flex items-center justify-between gap-x-2">
                <p class="font-medium text-gray-500 dark:text-neutral-200">
                  Total No. of courses 3
                </p>
                <div class="flex gap-2 items-center cursor-pointer">
                    <span>view all</span>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                          </svg>
                    </span>
                </div>
              </div>
            </div>
        </div> 
        <!-- end card -->


        <!-- start card -->
        <div class=" w-full max-w-[350px] flex flex-col bg-white border shadow-sm rounded-xl dark:bg-neutral-800 dark:border-neutral-700">
            <div class="p-4 md:p-5">
              <div class="flex items-center gap-x-2">
                <h6 class=" uppercase tracking-wide text-gray-500 dark:text-neutral-500">
                    Department of Geography and Environmental Sustainability M.Sc. and PhD
                </h6>
              </div>
  
              <div class=" flex items-center justify-between gap-x-2">
                <p class="font-medium text-gray-500 dark:text-neutral-200">
                  Total No. of courses 3
                </p>
                <div class="flex gap-2 items-center cursor-pointer">
                    <span>view all</span>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                          </svg>
                    </span>
                </div>
              </div>
            </div>
        </div> 
        <!-- end card -->


        <!-- start card -->
        <div class=" w-full max-w-[350px] flex flex-col bg-white border shadow-sm rounded-xl dark:bg-neutral-800 dark:border-neutral-700">
            <div class="p-4 md:p-5">
              <div class="flex items-center gap-x-2">
                <h6 class=" uppercase tracking-wide text-gray-500 dark:text-neutral-500">
                    Department of Geography and Environmental Sustainability M.Sc. and PhD
                </h6>
              </div>
  
              <div class=" flex items-center justify-between gap-x-2">
                <p class="font-medium text-gray-500 dark:text-neutral-200">
                  Total No. of courses 3
                </p>
                <div class="flex gap-2 items-center cursor-pointer">
                    <span>view all</span>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                          </svg>
                    </span>
                </div>
              </div>
            </div>
        </div> 
        <!-- end card -->


        <!-- start card -->
        <div class=" w-full max-w-[350px] flex flex-col bg-white border shadow-sm rounded-xl dark:bg-neutral-800 dark:border-neutral-700">
            <div class="p-4 md:p-5">
              <div class="flex items-center gap-x-2">
                <h6 class=" uppercase tracking-wide text-gray-500 dark:text-neutral-500">
                    Department of Geography and Environmental Sustainability M.Sc. and PhD
                </h6>
              </div>
  
              <div class=" flex items-center justify-between gap-x-2">
                <p class="font-medium text-gray-500 dark:text-neutral-200">
                  Total No. of courses 3
                </p>
                <div class="flex gap-2 items-center cursor-pointer">
                    <span>view all</span>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                          </svg>
                    </span>
                </div>
              </div>
            </div>
        </div> 
        <!-- end card -->
    </div>
</div>