@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


// styles.scss
@layer tailwind-base,
primeng,
tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer primeng; //not necessary I think

@tailwind base;
@tailwind components;
@tailwind utilities;




// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.inter {
  
}


  body {
    overflow-y: scroll;
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    // overflow: hidden; /* hides the scrollbar */

  }


body::-webkit-scrollbar {
    width: 0;
    height: 0;
}