<app-header></app-header>

<main>

  <!-- breadcrumb-area -->
  <section class="breadcrumb-area d-flex  p-relative align-items-center">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-12 col-lg-12">
          <div class="breadcrumb-wrap text-left">
            <div class="breadcrumb-title">
              <h2>FSS-UNN & DIC POSTGRADUATE PROGRAMMES</h2>
            </div>
          </div>
        </div>
        <!-- <div class="breadcrumb-wrap2">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">UNN & DIC</li>
            </ol>
          </nav>
        </div> -->
      </div>
    </div>
  </section>
  <!-- breadcrumb-area-end -->



  <!-- about-area -->
  <section class="about-area about-p pt-120 pb-120 p-relative fix" style="background: #eff7ff;">
    <div class="animations-02"><img src="/assets/web/img/bg/an-img-02.png" alt="About"></div>
    <div class="container">
      <div class="flex flex-row-reverse gap-8">


        <div class="basis-[30%]">
          <img src="/assets/uploads/about-us/dicunnPG.jpg" alt="img">

        </div>



        <div class="basis-[70%] row justify-content-center align-items-center">
          <div class="col-lg-12 col-md-12 col-sm-12 ">

            <h5 class="text-2xl text-gray-800 font-semibold"><u>Department of Geography and Environmental Sustainability M.Sc. and PhD</u></h5>

              <p class="text-xl text-gray-800 font-semibold">Course(s)</p>
              <ul  class="">
                <li class="flex items-center gap-2">
                  <span  class="text-icons">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mortarboard-fill" viewBox="0 0 16 16">
                      <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917z"/>
                      <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466z"/>
                    </svg>
                  </span>
                  Cartography
                </li>
                <li class="flex items-center gap-2">
                  <span  class="text-icons">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mortarboard-fill" viewBox="0 0 16 16">
                      <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917z"/>
                      <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466z"/>
                    </svg>
                  </span>
                  Remote Sensing&
                </li>
                <li class="flex items-center gap-2">
                  <span  class="text-icons">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mortarboard-fill" viewBox="0 0 16 16">
                      <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917z"/>
                      <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466z"/>
                    </svg>
                  </span>
                  Geographic Information System
                </li>
              </ul>

              <p class="my-4  text-base leading-relaxed tracking-wide text-gray-500">Candidates applying for the M.Sc. degree in Geography should hold Bachelors degree with a minimum CGPA
                of 3.0 on a scale of 5.0 in Geography, Education/Geography or related disciplines in the Social,
                Physical, Biological, Agricultural and Environmental Sciences or Engineering etc. While candidates
                applying for the PhD degree in Geography and Environmental Sustainability, Cartography and Remote
                Sensing should hold Master’s degree with a minimum CGPA of at least 3.5 on a scale of 5.0 in a relevant
                area of Geography or the related disciplines.
              </p>

              <app-apply-button></app-apply-button>



            <h5 class="text-2xl text-gray-800 font-semibold mt-12"><u>Department of Political Science PGD, M.Sc. and PhD</u></h5>

            <p class="text-xl text-gray-800 font-semibold">Course(s)</p>

            <ul class="flex flex-col">
              <li class="flex items-center gap-2">
                <span  class="text-icons">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mortarboard-fill" viewBox="0 0 16 16">
                    <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917z"/>
                    <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466z"/>
                  </svg>
                </span>
                International Relations and Diplomacy
              </li>
              <li class="flex items-center gap-2">
                <span  class="text-icons">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mortarboard-fill" viewBox="0 0 16 16">
                    <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917z"/>
                    <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466z"/>
                  </svg>
                </span>
                Conflict, Peace and Strategic Studies
              </li>
              <li class="flex items-center gap-2">
                <span  class="text-icons">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mortarboard-fill" viewBox="0 0 16 16">
                    <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917z"/>
                    <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466z"/>
                  </svg>
                </span>
                Human Security and Counter-Terrorism
              </li>
              <li class="flex items-center gap-2">
                <span  class="text-icons">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mortarboard-fill" viewBox="0 0 16 16">
                    <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917z"/>
                    <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466z"/>
                  </svg>
                </span>
                Soft Protocol and Diplomacy
              </li>
            </ul>

            <p class="my-4 text-base leading-relaxed tracking-wide text-gray-500">
              The basic entry qualification for admission into the M.Sc. programme is a Bachelor’s Degree with at
              least a Second-Class Lower Division with not less than 3.00 GPA or its equivalent. Also, candidates with
              appropriate Postgraduate Diploma of the University of Nigeria or of other recognized Universities with
              at least 3.50 GPA on a 5-point scale. In addition, the candidate must satisfy the Departmental O’Level
              and/or Direct Entry general entry requirements for degree programmes.
            </p>

              <p class="text-gray-500 text-lg mt-2"><b>Political and Economic Intelligence:</b></p>

              <p class=" my-4 text-base leading-relaxed tracking-wide text-gray-500">The basic entry qualification for admission into the PGD is HND in any academic field. M.Sc. programme is
                  a Bachelor’s Degree with at least a Second-Class Lower Division with not less than 3.00 GPA or its
                  equivalent in Social, Management Science or other related fields. Also, candidates with appropriate
                  Postgraduate Diploma of the University of Nigeria or of other recognised Universities with at least 3.50
                  GPA on a 5-point scale. In addition, the candidate must satisfy the Departmental O’Level and/or Direct
                  Entry general entry requirements for degree programmes. While the basic entry qualification for admission
                  into the PhD programme is a Master's Degree in relevant areas from the University of Nigeria or other
                  recognised universities with at least 3.50 CGPA on a 5-point scale. In addition, the candidate must
                  satisfy the Departmental O'Level and /or Direct Entry general entry requirements for degree programmes.
              </p>

            <app-apply-button></app-apply-button>


              <h5 class="text-2xl text-gray-800 font-semibold mt-8"><u>Department of Sociology/Anthropology M.Sc. and PhD</u></h5>

              <p class="text-xl text-gray-800 font-semibold">Course(s)</p>

              <ul>
                <li class="flex items-center gap-2">
                  <span  class="text-icons">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mortarboard-fill" viewBox="0 0 16 16">
                      <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917z"/>
                      <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466z"/>
                    </svg>
                  </span>
                  Criminology, Conflict and Change:
                </li>
                <li class="flex items-center gap-2">
                  <span  class="text-icons">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mortarboard-fill" viewBox="0 0 16 16">
                      <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917z"/>
                      <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466z"/>
                    </svg>
                  </span>
                  The criteria for admission into the PGD programme will be as follows:
                </li>
                <li class="flex items-center gap-2">
                  <span  class="text-icons">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mortarboard-fill" viewBox="0 0 16 16">
                      <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917z"/>
                      <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466z"/>
                    </svg>
                  </span>
                  Matriculation requirement of the University, which is five (5) O-level Credit passes including English
                  Language with either of the following:
                </li>
              </ul>

              <div class=" my-4 text-base leading-relaxed tracking-wide text-gray-500">
                  <li>A student with at least 3rd class degree in any area of study.</li>
                  <li>HND holders with a minimum of Upper Credit from recognized institution may also be considered.</li>
                  <li>BSc holders with pass degree with 5 years and above post-graduation experience.</li>
              </div>

            <app-apply-button></app-apply-button>


            <h5 class="text-2xl text-gray-800 font-semibold mt-12"><u>Institute of Social Policy PGD, MSP, M.Sc. and PhD</u></h5>

            <p class="text-xl text-gray-800 font-semibold">Course(s)</p>

              <ul class="flex items-center gap-2">
                <span  class="text-icons">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mortarboard-fill" viewBox="0 0 16 16">
                    <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917z"/>
                    <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466z"/>
                  </svg>
                </span>
                <li>Social Policy:</li>
              </ul>

              <p class=" text-base leading-relaxed tracking-wide text-gray-500">The criteria for admission into M.Sc. Social Policy programme will be as follows:</p>

              <ol class=" text-base leading-relaxed tracking-wide text-gray-500">
                  <li>Five (5) O-level credits passes including English;</li>
                  <li>Candidates with at least 2nd Class honours Lower Division in Social or Management Science;</li>
                  <li>Candidates with a PGD in Social Policy with a CGPA of 3.5 on a 5-point scale or its equivalent.</li>
              </ol>

              <p class=" text-base leading-relaxed tracking-wide text-gray-500">While Basic Admission Requirements for Ph.D programme and MSc/Ph.D Programme</p>
              <ol class=" my-4 text-base leading-relaxed tracking-wide text-gray-500">
                  <li>Candidates for PhD programme must have academic Master’s degree in Social Policy with a minimum CGPA
                      of 3.0/4.0 or 3.5/5.0 and Project score not lower than 60%</li>
                  <li>Candidates for PhD programme with the required CGPA of 3.0/4.0 or 3.5/5.0 and Project score not lower
                      than 60% but without Master’s degree in Social Policy will be admitted for M.Sc./PhD. The candidate will
                      take relevant M.Sc. courses in Social Policy for one session before seeking for firm registration for
                      Ph.D programme. </li>
                  <li>Candidates must demonstrate adequate intellectual capacity, maturity and effective decision making and
                      problem solving potentials. </li>
                  <li>In addition to the above, the Candidates must have made at least 2nd class honours lower division with
                      a CPGA of not lower than 2.5 plus the basic requirements in WASC/GCE O’Level for the first degree.</li>
              </ol>

            <app-apply-button></app-apply-button>



              <h5 class="text-2xl text-gray-800 font-semibold mt-12"><u>Department of Psychology M.Sc. and PhD</u></h5>
              <p class="text-xl text-gray-800 font-semibold">Course(s)</p>

              <ul>
                <li class="flex items-center gap-2">
                  <span  class="text-icons">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mortarboard-fill" viewBox="0 0 16 16">
                      <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917z"/>
                      <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466z"/>
                    </svg>
                  </span>
                  Criminal Psychology and Forensic Studies:
                </li>
              </ul>

              <p class="my-4 text-base leading-relaxed tracking-wide text-gray-500">The basic entry qualification for admission into the PGD is HND in any academic field.The entry
                  qualification for admission into the M.Sc. programme is a Bachelor’s Degree with at least a Second-Class
                  Lower Division with not less than 3.00 GPA or its equivalent in Psychology or other related fields in
                  Criminal and Forensic Science. Also, candidates with appropriate Postgraduate Diploma of the University of
                  Nigeria or of other recognised Universities with at least 3.50 GPA on a 5-point scale. While the basic
                  entry qualification for admission into the PhD programme is a Master's Degree in relevant areas from the
                  University of Nigeria or other recognised universities with at least 3.50 CGPA on a 5-point scale.</p>


            <app-apply-button></app-apply-button>


              <h5 class="text-2xl text-gray-800 font-semibold mt-12"><u>Department of Public Administration M.Sc and PhD</u></h5>
              <p class="text-xl text-gray-800 font-semibold">Course(s)</p>
                <ul>
                  <li>
                    Strategic Intelligence and Security Management:
                  </li>
                </ul>
              <p class=" text-base leading-relaxed tracking-wide text-gray-500">The basic entry qualification for admission into the PGD is HND in any academic field.The criteria for
                  admission into M.Sc. Strategic Intelligence programme will be as follows:</p>

              <ol class=" text-base leading-relaxed tracking-wide text-gray-500">
                  <li>Five (5) O-level credits passes including English;</li>
                  <li>Candidates with at least 2nd Class honours Lower Division in Social or Management Science or other
                      related fields.</li>
                  <li>Candidates with a PGD in Social Policy with a CGPA of 3.5 on a 5 point scale or its equivalent.</li>
              </ol>
              <p class=" mt-4 text-base leading-relaxed tracking-wide text-gray-500">While the basic entry qualification for admission into the PhD programme is a Master's Degree in relevant
                  areas from the University of Nigeria or other recognised universities with at least 3.50 CGPA on a 5-point
                  scale. In addition, the candidate must satisfy the Departmental O'Level and /or Direct Entry general entry
                  requirements for degree programmes.</p>

            <app-apply-button></app-apply-button>




              <h5 class="text-2xl text-gray-800 font-semibold mt-12"><u>Application Form Fee</u></h5>
              <ol>
                  <li>PG Form - ₦30,000</li>
              </ol>
              <br>


              <h5 class="text-2xl text-gray-800 font-semibold mt-6"><u>Admission Acceptance Fee</u></h5>
              <ol class=" text-base leading-relaxed tracking-wide text-gray-500">
                  <li>PGD ₦80,000</li>
                  <li>M.Sc. ₦80,000</li>
                  <li>PhD ₦100,000</li>
              </ol>
              <br>
              <h5 class="text-2xl text-gray-800 font-semibold mt-6"><u>Tuition</u></h5>
              <p class=" text-base leading-relaxed tracking-wide text-gray-500">Generally, candidates can pay fully for their choice programme at once before academic activities.
              </p><br>

              <p class=" text-base leading-relaxed tracking-wide text-gray-500">PGD: Full payment required.</p>

              <p class=" text-base leading-relaxed tracking-wide text-gray-500">M.Sc.: First Semester requires 75 per cent tuition payment, and to be completed in Second Semester.
              </p>

              <p class=" text-base leading-relaxed tracking-wide text-gray-500">PhD Tuition is to be made completely within 4 Semesters starting with 50 percent before commencement
                  of first semester.</p>

              <ol class=" text-base leading-relaxed tracking-wide text-gray-500">
                  <li>M.Sc. (3 Semesters) ₦2,100,000</li>
                  <li>PGD (2 Semesters) ₦1,200,000</li>
                  <li>PhD (6 semesters) ₦5,400,000</li>
              </ol>

              <div class="login">
                  <ul>
                      <li>
                          <div class="second-header-btn">
                              <a href="application.html" target="_blank" class="btn">Apply Now</a>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
      </div>



      </div>

    </div>

  </section>
  <!-- about-area-end -->

</main>

<app-footer></app-footer>
