<div class="section">
    <!-- Table Section -->
     <app-sub-menu pageTitle="All Staff" actionName1="Delete (2)" addButton="Create Staff" (addAction)="toggleAddStaff()"></app-sub-menu>
<div class="w-full px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
     <!-- tables section -->
     <div class="w-full flex flex-col basis-[65%] h-[70vh] bg-white">
      <div class="-m-1.5 overflow-x-auto">
      <div class="p-1.5 min-w-full inline-block align-middle">
          <div class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden  ">


           <!-- Table -->
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="ps-6 py-3 text-start">
                <label for="hs-at-with-checkboxes-main" class="flex items-center">
                  <input
                    type="checkbox"
                    id="hs-at-with-checkboxes-main"
                    class="shrink-0 border-gray-300 rounded text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                  />
                  <span class="sr-only">Select all</span>
                </label>
              </th>
              <ng-container *ngFor="let header of tableHeader">
                <th
                  
                  scope="col"
                  class="ps-6 lg:ps-3 xl:ps-0 pe-6 py-3 text-start whitespace-nowrap"
                >
                  <div class="flex items-center gap-x-2">
                    <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                      {{ header }}
                    </span>
                  </div>
                </th>
              </ng-container>
              <th scope="col" class="ps-6 py-3 text-start"></th>
            </tr>
          </thead>

          <tbody class="divide-y divide-gray-200">
            <ng-container *ngFor="let staff of staff">
              <tr routerLink="/app/staff-profile/1">
                <td class="ps-6 py-3">
                  <label for="hs-at-with-checkboxes" class="flex items-center">
                    <input
                      type="checkbox"
                      id="hs-at-with-checkboxes-"
                      class="shrink-0 border-gray-300 rounded text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                    />
                    <span class="sr-only">Select {{ staff.first_name }}</span>
                  </label>
                </td>
                <td class="ps-6 py-3">
                  <div class="flex items-center gap-x-3">
                    <img
                      class="inline-block w-10 h-10 rounded-full"
                      src="https://images.unsplash.com/photo-1522529599102-193c0d76b5b6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                      alt="Avatar"
                    />
                    <div class="grow">
                      <span class="block text-sm font-semibold text-gray-800">
                        {{ staff.first_name }} {{ staff.last_name }}
                      </span>
                    </div>
                  </div>
                </td>
                <td class="py-3">
                  <span class="block text-sm font-semibold text-gray-800">{{ staff.department }}</span>
                </td>
                <td class="py-3">
                  <span class="text-xs text-gray-500">{{ staff.phone_number }}</span>
                </td>
                <td class="py-3">
                  <span class="text-sm text-gray-500">28 Dec, 12:12</span>
                </td>
                <td class="py-3">
                  <a
                    href="#"
                    class="inline-flex items-center gap-x-1 text-sm text-blue-600 decoration-2 hover:underline focus:outline-none focus:underline font-medium"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-eye"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"
                      />
                      <path
                        d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"
                      />
                    </svg>
                  </a>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>

          <!-- Footer -->
          <div class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-t border-gray-200 ">
              <div>
              <p class="text-sm text-gray-600 ">
                  <span class="font-semibold text-gray-800 ">12</span> results
              </p>
              </div>

              <div>
              <div class="inline-flex gap-x-2">
                  <button type="button" class="py-1.5 px-2 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-gray-50     ">
                  <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <path d="m15 18-6-6 6-6" />
                  </svg>
                  Prev
                  </button>

                  <button type="button" class="py-1.5 px-2 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-gray-50     ">
                  Next
                  <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <path d="m9 18 6-6-6-6" />
                  </svg>
                  </button>
              </div>
              </div>
          </div>
          <!-- End Footer -->
          </div>
      </div>
      </div>
  </div>
<!-- End Card -->
  </div>
  <!-- End Table Section -->
</div>



<div class="card flex justify-content-center">
    <p-button (onClick)="toggleAddStaff()" label="Show" />
    <p-dialog 
        header="Add Staff" 
        [modal]="true" 
        [(visible)]="addStaff" 
        [style]="{ width: '50rem' }" 
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
        [maximizable]="true">
        <form [formGroup]="createProductForm" (ngSubmit)="save()">
            <div class="p-4 overflow-y-auto">
        
              <div>
                <div class="section-title font-bold ">Personal information</div>
        
                <div>
                  <!-- Basic information -->
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4 border-b py-2 pb-8">
        
        
                  <div>
                    <label class="block text-gray-600 text-sm font-medium">
                      First Name
                      <span class="text-red-500">*</span>
                    </label>
                    <input formControlName="productName" type="text" [ngClass]="{'border-red-400': isSubmitted && f.productName.errors}" class="block w-full border px-3 py-2 bg-gray-100 focus:outline-none focus:ring-black-500 focus:border-black-500 sm:text-sm" placeholder="First Name">
                  </div>
        
                  <div>
                    <label class="block text-gray-600 text-sm font-medium">
                      Last Name
                      <span class="text-red-500">*</span>
                    </label>
                    <input formControlName="productName" type="text" [ngClass]="{'border-red-400': isSubmitted && f.productName.errors}" class="block w-full border px-3 py-2 bg-gray-100 focus:outline-none focus:ring-black-500 focus:border-black-500 sm:text-sm" placeholder="Last Name">
                  </div>
        
                  <div>
                    <label class="block text-gray-600 text-sm font-medium">
                      Gender
                      <span class="text-red-500">*</span>
                    </label>
                    <select [ngClass]="{'border-red-400': isSubmitted && f.warehouse.errors}" formControlName="warehouse" class="block border w-full px-3 py-2 bg-gray-100 focus:outline-none focus:ring-black-500 focus:border-black-500 sm:text-sm">
                      <option value="">Select Gender</option>
                      <ng-container *ngFor="let gender of genders">
                        <option value={{gender.id}} >{{gender.name}}</option>
                      </ng-container>
                    </select>
                  </div>
        
        
                  <div>
                    <label class="block text-gray-600 text-sm font-medium">
                      Email Address
                    </label>
                    <p class="text-red-700 mt-2 text-sm" *ngIf="isSubmitted && f.code.errors " >field required </p>
                    <input formControlName="code" [ngClass]="{'border-red-400': isSubmitted && f.code.errors}" type="text" class="block border w-full px-3 py-2 bg-gray-100 focus:outline-none focus:ring-black-500 focus:border-black-500 sm:text-sm" placeholder="Enter Email">
                  </div>
        
                  <div>
                    <label class="block text-gray-600 text-sm font-medium">
                      Mothers Name
                      <span class="text-red-500">*</span>
                    </label>
                    <input  formControlName="sku" [ngClass]="{'border-red-400': isSubmitted && f.sku.errors}" formControlName="sku" type="text" class="block border w-full px-3 py-2 bg-gray-100  focus:outline-none focus:ring-black-500 focus:border-black-500 sm:text-sm" placeholder="Enter Mothers' Name">
                  </div>
        
                  <div>
                    <label class="block text-gray-600 text-sm font-medium">
                      Phone Number
                    </label>
                    <input [ngClass]="{'border-red-400': isSubmitted && f.barcode.errors}" formControlName="barcode" type="text" class="block border w-full px-3 py-2 bg-gray-100 bg-gray-200focus:outline-none focus:ring-black-500 focus:border-black-500 sm:text-sm" placeholder="Enter Phone Number">
                  </div>
        
                  <div>
                    <label class="block text-gray-600 text-sm font-medium">
                      Marital Status
                      <span class="text-red-500">*</span>
                    </label>
                    <select [ngClass]="{'border-red-400': isSubmitted && f.warehouse.errors}" formControlName="warehouse" class="block border w-full px-3 py-2 bg-gray-100 focus:outline-none focus:ring-black-500 focus:border-black-500 sm:text-sm">
                      <option value="">Select Gender</option>
                      <ng-container *ngFor="let gender of genders">
                        <option value={{gender.id}} >{{gender.name}}</option>
                      </ng-container>
                    </select>
                  </div>
        
                  <div>
                    <label class="block text-gray-600 text-sm font-medium">
                      Religion
                      <span class="text-red-500">*</span>
                    </label>
                    <select [ngClass]="{'border-red-400': isSubmitted && f.warehouse.errors}" formControlName="warehouse" class="block border w-full px-3 py-2 bg-gray-100 focus:outline-none focus:ring-black-500 focus:border-black-500 sm:text-sm">
                      <option value="">Select Gender</option>
                      <ng-container *ngFor="let gender of genders">
                        <option value={{gender.id}} >{{gender.name}}</option>
                      </ng-container>
                    </select>
                  </div>
        
        
                </div>
              </div>
        
              <!-- Upload Media section -->
              <div class="py-4 mt-4 border-b pb-8">
                <div class="section-title font-bold">Media  <span class="text-sm">(Upload picture)</span></div>
        
                <div class="mt-4 flex gap-4">
                  <div [ngClass]="{'border-red-400': isSubmitted && f.image.errors}" class="p-6 w-[150px] border border-dashed ">
                    <img *ngIf="!imageSrc" src="assets/images/image.png" alt="">
                    <img *ngIf="imageSrc" src={{imageSrc}} class="h-[60px]" alt="">
                  </div>
        
                  <label  for="productImage" class="p-4 w-[120px] border border-dashed flex items-center justify-center">
                    <span>
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                      </svg>
                    </span>
                    
                  </label>
                </div>
        
                <input formControlName="image" id="productImage" type="file"  (change)="onFileSelected($event)" class="hidden">
        
              </div>
        
              <!-- Contact Information section -->
              <div class="py-4 mt-4">
                <div class="section-title font-bold">Contact Information</div>
        
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4 border-b py-2 pb-8">
        
        
                  <div>
                    <label class="block text-gray-600 text-sm font-medium">
                      State of Origin
                      <span class="text-red-500">*</span>
                    </label>
                    <select formControlName="vendor" [ngClass]="{'border-red-400': isSubmitted && f.vendor.errors}" class="block border w-full px-3 py-2 bg-gray-100 focus:outline-none focus:ring-black-500 focus:border-black-500 sm:text-sm" >
                      <option value="">Select course</option>
                       <ng-container *ngFor="let course of courses?.data">
                         <option value={{course.id}} >{{course.name}}</option>
                       </ng-container>
                    </select>
                  </div>
        
        
                  <div>
                    <label class="block text-gray-600 text-sm font-medium">
                      LGA
                      <span class="text-red-500">*</span>
                    </label>
                    <select formControlName="vendor" [ngClass]="{'border-red-400': isSubmitted && f.vendor.errors}" class="block border w-full px-3 py-2 bg-gray-100 focus:outline-none focus:ring-black-500 focus:border-black-500 sm:text-sm" >
                      <option value="">Select batch</option>
                       <ng-container *ngFor="let batch of batches?.data">
                         <option value={{batch.id}} >{{batch.name}}</option>
                       </ng-container>
                    </select>
                  </div>
        
                  
        
                  <div>
                    <label class="block text-gray-600 text-sm font-medium">
                      Home Address
                      <span class="text-red-500">*</span>
                    </label>
                    <textarea formControlName="sku" [ngClass]="{'border-red-400': isSubmitted && f.sku.errors}" formControlName="sku" type="text" class="block border w-full px-3 py-2 bg-gray-100  focus:outline-none focus:ring-black-500 focus:border-black-500 sm:text-sm" placeholder="Enter home address" id=""></textarea>
                  </div>
        
                  <div>
                    <label class="block text-gray-600 text-sm font-medium">
                      Contact Address
                      <span class="text-red-500">*</span>
                    </label>
                    <textarea formControlName="sku" [ngClass]="{'border-red-400': isSubmitted && f.sku.errors}" formControlName="sku" type="text" class="block border w-full px-3 py-2 bg-gray-100  focus:outline-none focus:ring-black-500 focus:border-black-500 sm:text-sm" placeholder="Enter contact address" id=""></textarea>
                  </div>
        
                  <div>
                    <label class="block text-gray-600 text-sm font-medium">
                      Home Town
                      <span class="text-red-500">*</span>
                    </label>
                    <input  formControlName="sku" [ngClass]="{'border-red-400': isSubmitted && f.sku.errors}" formControlName="sku" type="text" class="block border w-full px-3 py-2 bg-gray-100  focus:outline-none focus:ring-black-500 focus:border-black-500 sm:text-sm" placeholder="Enter home town">
                  </div>
        
        
                  <div class="flex gap-4">
        
                    <!-- <div class="">
                      <label class="block text-gray-600 text-sm font-medium">
                        Profit
                        <span class="text-red-500">*</span>
                      </label>
        
                        <input formControlName="profit" [ngClass]="{'border-red-400': isSubmitted && f.profit.errors}" type="text" class="block border w-full px-3 py-2 bg-gray-100 focus:outline-none focus:ring-black-500 focus:border-black-500 sm:text-sm" placeholder="Enter Profit">
                    </div> -->
        
                    <!-- <div>
                      <label class="block text-gray-600 text-sm font-medium">
                        Margin
                        <span class="text-red-500">*</span>
                      </label>
                      <input formControlName="margin" [ngClass]="{'border-red-400': isSubmitted && f.margin.errors}" type="text" class="block border w-full px-3 py-2 bg-gray-100 focus:outline-none focus:ring-black-500 focus:border-black-500 sm:text-sm" placeholder="Enter Margin">
                    </div> -->
        
                  </div>
        
                </div>
        
              </div>
        
              </div>
        
            </div>
        
            <div class=" flex w-full justify-between items-center gap-x-2 py-3 px-4 border-t">
        
              <div>
                <span class="text-gray-500 text-sm">Advance settings</span>
              </div>
              <button type="submit" >
                <p-button class="p-2 px-4 bg-primary text-white text-sm" [loading]="loading"  label="Save" ></p-button>
              </button>
            </div>
          </form>
    </p-dialog>
  </div>